{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Department</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Department</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_department"><i
							class="fa-solid fa-plus"></i> Add Department</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div>
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Department Name</th>
								<th>Department Colour</th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in dept_name %}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{i.Name}}</td>
								<td>
									<div style="background-color:{{i.Colour}};height:17px;width:95px;"></div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_department" onClick="edit_modal('{{i.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_department"
												onclick="delete_modal('{{i.id}}')"><i
													class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Department Modal -->
	<div id="add_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Department</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form action="" method="post">
						<div class="input-block mb-3">
							<label class="col-form-label">Department Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="dept_name" id="dept_name" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Department Colour <span class="text-danger">*</span></label>
							<input class="form-control" type="color" value="#6a5acd" name="dept_color" id="dept_color" required >
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_department()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Department Modal -->
	<script>
		function add_department(){
			let Dep_Name = $('#dept_name').val();
			let Dep_color = $('#dept_color').val();

			if(Dep_Name===''||Dep_Name===null){$('#dept_name').css('border-color','#ff4d00')}else{$('#dept_name').css('border-color','#66ff66')}
			if(Dep_color===''||Dep_color===null){$('#dept_color').css('border-color','#ff4d00')}else{$('#dept_color').css('border-color','#66ff66')}

			if(Dep_Name!==null && Dep_color!==null){

				const formData = new FormData();
				formData.append('dept_name',Dep_Name)
				formData.append('dept_color',Dep_color)

				fetch(`/HrmTool/Employee/add-dept`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:181px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Edit Department Modal -->
	<div id="edit_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Department</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<input id="edit_idz" name="edit_id" type="hidden" />
							<label class="col-form-label">Department Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="edit_name" id="edit_name">
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Department Colour <span class="text-danger">*</span></label>
							<input class="form-control" type="color" value="#6a5acd" name="edit_color" id="edit_color" required >
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_department()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		function edit_modal(data) {
			$.get('/HrmTool/Employee/department_id/' + data, function (res) {
				$('#edit_idz').val(res.id)
				$('#edit_name').val(res.Name)
				$('#edit_color').val(res.Colour)
			}
			)
		}
		function edit_department(){
			let Dep_ID = $('#edit_idz').val();
			let Dep_Name = $('#edit_name').val();
			let Dep_color = $('#edit_color').val();

			if(Dep_Name===''||Dep_Name===null){$('#edit_name').css('border-color','#ff4d00')}else{$('#edit_name').css('border-color','#66ff66')}
			if(Dep_color===''||Dep_color===null){$('#edit_color').css('border-color','#ff4d00')}else{$('#edit_color').css('border-color','#66ff66')}

			if(Dep_Name!==null && Dep_color!==null){

				const formData = new FormData();
				formData.append('edit_id',Dep_ID)
				formData.append('edit_name',Dep_Name)
				formData.append('edit_color',Dep_color)

				fetch(`/HrmTool/Employee/dept_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:181px;">Unable To Update</h5>`)
					}
				})
			}
		}
	</script>

	<!-- /Edit Department Modal -->

	<!-- Delete Department Modal -->
	<div class="modal custom-modal fade" id="delete_department" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Department</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_data" id="delete_data" type="hidden">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn"
									onclick="conform_delete($('#delete_data').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Department Modal -->

	<script>
		function delete_modal(data) {
			$('#delete_data').val(data)
		}

		function conform_delete(data) {
			$.get('/HrmTool/Employee/delete_modal/' + data, function (res) {
				location.reload()
			})
		}
	</script>

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}