{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Experience Level</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item">Jobs</li>
						<li class="breadcrumb-item active">Experience Level</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" data-bs-toggle="modal" data-bs-target="#add_employee" class="btn add-btn"> Add Experience Level</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Experiance</th>
								<th>Status</th>									
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in  experience_data %}
							<tr>
								<td>{{loop.index}}</td>										
								<td>{{i.Level_Range}}</td>
								<td>
									<div class="action-label">
										<a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
										{% if i.Current_Status == 'Active' %}
										<i class="fa-regular fa-circle-dot text-success"></i> {{i.Current_Status}}</a>
										{% else %}
										<i class="fa-regular fa-circle-dot text-danger"></i> {{i.Current_Status}}</a>
										{% endif %}
									</div>  
								</td>
								<td class="text-center">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_job" onclick="edit_experience('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_job" onclick="delete_experience('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	
	<!-- Add Employee Modal -->
	<div id="add_employee" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Experience Level</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_message"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Experience Level <span class="text-danger">*</span></label>
									<input class="form-control" type="text" id="level" name="level" required>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="current" name="current" required> 
										<option selected disabled>Select</option>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="experience_submition()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Employee Modal -->

	<script>
		// Add Portion
		function experience_submition(){
			//========================================>>. check required fileds all 
			let formLevel = $('#level').val();
			let formCurrent = $('#current').val();

			if (formLevel === '' || formLevel === null) {$('#level').css('border-color', '#f43b48');} else{$('#level').css('border-color', '#3bf441')}
			if (formCurrent === '' || formCurrent === null) {$('#current').css('border-color', '#f43b48');}else{$('#current').css('border-color', '#3bf441')}
			
			//==================>> After Check This Enter The FormData ...
			if (formLevel !== null && formCurrent !== null ){

				//===========================================>>> formdatas
				let formData = new FormData();
				formData.append('level',$('#level').val())
				formData.append('current',$('#current').val())
				//===========================================>>> /formdatas
				
				//fetch the data to backend
				fetch(`/HrmTool/Administration/experience_level`,{method:'post',body:formData})
				.then( res => res.json())
				.then( res => {
					if(res.Result == 'Done'){location.reload()}
					else{$('.add_message').html(`<h5 class="text-danger" style="padding-left: 163px;">Already This Data Entered</h5>`)}
				})
			}
		}
	</script>

	<!-- Edit Job Modal -->
	<div id="edit_job" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Candidates</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_message"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_id" type="hidden" required />
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Experience Level <span class="text-danger">*</span></label>
									<input class="form-control" type="text" id="edit_level" name="edit_level" required>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="edit_current" name="edit_current" required>
										<option >Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
							
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="experience_edit_submit()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Job Modal -->

	<script>
		// Edit Fetching Portion 
		function edit_experience(data){
			fetch(`/HrmTool/Administration/experience_ids/${data}`)
			.then( res => res.json())
			.then( res => {
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#edit_level').val(res.Result.Level_Range)
				$('#edit_current').val(res.Result.Current_Status)
			})
		}
		// Edit Portion Update 
		function experience_edit_submit(){
			let formid = $('#edit_idz').val();
			let formLevel = $('#edit_level').val();
			let formCurrent = $('#edit_current').val();

			if (formLevel === '' || formLevel === null) {$('#edit_level').css('border-color','#f43b48');} else{$('#edit_level').css('border-color','#3bf441')}
			if (formCurrent === '' || formCurrent === null) {$('#edit_current').css('border-color','#f43b48');}else{$('#edit_current').css('border-color','#3bf441')}
			
			//==================>> After Check This Enter The FormData ...
			if (formLevel !== null && formCurrent !== null ){

				//===========================================>>> formdatas
				let formData = new FormData();
				formData.append('edit_id',$('#edit_idz').val())
				formData.append('edit_level',$('#edit_level').val())
				formData.append('edit_current',$('#edit_current').val())
				//===========================================>>> /formdatas

				//fetch the data to backend
				fetch(`/HrmTool/Administration/update_experience_level`,{method:'post',body:formData})
				.then( res => res.json())
				.then( res => {
					if(res.Result == 'Done'){location.reload()}
					else{$('.edit_message').html(`<h5 class="text-danger" style="padding-left: 163px;">Already This Data Entered</h5>`)}
					})
			}
		}
	</script>

	<!-- Delete Job Modal -->
	<div class="modal custom-modal fade" id="delete_job" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete</h3>
						<p>Are you sure want to delete?</p>
						<input id="delete_experience" name="delete_experience" type="hidden" />
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_delete_experience($('#delete_experience').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Job Modal -->
	<script>
		//====================>>> Assign A delete value ...
		function delete_experience(data){$('#delete_experience').val(data);}

		//===================>>> Conform A delete value ...
		function conform_delete_experience(delete_id){
			fetch(`/HrmTool/Administration/delete_experience_level/${delete_id}`)
			.then(location.reload())
		}
	</script>
	
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}