{% include "Layout/top.html" %}
{% include "Layout/side.html" %}
<script src="/templates/assets/js/line-chart.js"></script>
<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Job Dashboard</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item">Jobs</li>
						<li class="breadcrumb-item active">Job Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
	
		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa-solid fa-briefcase"></i></span>
						<div class="dash-widget-info">
							<h3>{{manage_job_data |length }}</h3>
							<span>Jobs</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa-solid fa-users"></i></span>
						<div class="dash-widget-info">
							<h3>40</h3>
							<span>Job Seekers</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa-solid fa-user"></i></span>
						<div class="dash-widget-info">
							<h3>{{employee_data |length }}</h3>
							<span>Employees</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa-solid fa-paste"></i></span>
						<div class="dash-widget-info">
							<h3>{{appliers_data | length }}</h3>
							<span>Applications</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 text-center d-flex">
						<div class="card flex-fill">
							<div class="card-body">
								<h3 class="card-title">Overview</h3>
								<canvas id="lineChart"></canvas>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body">
								<h3 class="card-title text-center">Latest Jobs</h3>
								<ul class="list-group">
									{% for i in last_jobs %} 
									<li class="list-group-item list-group-item-action">{{i.Job_Title}} <span class="float-end text-sm text-muted">1 Hours ago</span></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="card card-table">
					<div class="card-header">
						<div class="row">
							<div class="col-10"><h3 class="card-title mb-0">Applicants List</h3></div>
							<div class="col-2"><a class="btn w-100 btn-outline-primary"  href="/HrmTool/Administration/manage_resume">View More</a></div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-nowrap custom-table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Job Title</th>
										<th>Departments</th>
										<th>Start Date</th>
										<th>Expire Date</th>
										<th class="text-center">Job Types</th>
										<th class="text-center">Status</th>
										<th class="text-center">Resume</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<!-- Image Processing Here -->
								{% set values = random_photo %}
								<!-- /Image Processing Here -->
								<tbody>
									{% for i in appliers_data %}
									<tr>
										<td>{{loop.index}}</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar">
													<img src="/templates/assets/jobapplierphoto/Vector-{{values[loop.index0]}}.png" alt="User Image">
												</a>
												<a href="profile.html">{{i.Name}} <span></span></a>
											</h2>
										</td>
										{% for j in manage_job_data %}
										{% if i.Job_ID|int == j.id|int %}
										<td><a href="job-details.html">{{j.Job_Title}}</a></td>
										{% for k in department_data %}
										{% if j.Department|int == k.id|int %}
										<td>{{k.Name}}</td>
										{% endif %}
										{% endfor %}
										<td class="dateformate">{{j.Start_Date}}</td>
										<td class="dateformate">{{j.Start_Date}}</td>
										<td class="text-center">
											<div class="dropdown action-label">
												<a class="btn btn-white btn-sm btn-rounded" href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-regular fa-circle-dot text-danger"></i> {{j.Job_Type}}
												</a>
												<!-- <div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-info"></i> Full Time</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Part Time</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Internship</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-warning"></i> Temporary</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-warning"></i> Other</a>
												</div> -->
											</div>
										</td>
										<td class="text-center">
											<div class="dropdown action-label">
												<a class="btn btn-white btn-sm btn-rounded " href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-regular fa-circle-dot text-danger"></i> {{j.Current_Status}}
												</a>
												<!-- <div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-info"></i> Open</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Closed</a>
													<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Cancelled</a>
												</div> -->
											</div>
										</td>
										{% endif %}
										{% endfor %}
										<td><a href="/templates/assets/uploaded_files/Resumes/{{i.Resume}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa-solid fa-download me-1"></i> Download</a></td>
										<td class="text-center">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>	
												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#" onclick="shortlist_canditate('{{i.id}}')"><i class="fa-regular fa fa-star"></i> Shortlist</a>
													<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_job" onclick="get_applier_id('{{i.id}}')"><i class="fa-regular fa fa-eye"></i> View</a>
													<a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_job"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="card card-table">
					<div class="card-header">
						<div class="row">
							<div class="col-10"><h3 class="card-title mb-0">Shortlist Candidates</h3></div>
							<div class="col-2"><a class="btn w-100 btn-outline-primary"  href="/HrmTool/Administration/shortlisted_candidates">View More</a></div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-nowrap custom-table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Job Title</th>
										<th>Departments</th>
										<th class="text-center">Status</th>
									</tr>
								</thead>
								<!-- Image Processing Here -->
								{% set values = random_photo %}
								<!-- /Image Processing Here -->
								<tbody>
									{% for i in appliers_data %}
									<tr>
										<td>{{loop.index}}</td>
										<td>
											<h2 class="table-avatar">
												<a href="profile.html" class="avatar">
													<img src="/templates/assets/jobapplierphoto/Vector-{{values[loop.index0]}}.png" alt="User Image">
												</a>
												<a href="profile.html">{{i.Name}} <span></span></a>
											</h2>
										</td>
										{% for j in manage_job_data %}
										{% if i.Job_ID|int == j.id|int %}
										<td><a href="job-details.html">{{j.Job_Title}}</a></td>
										{% for k in department_data %}
										{% if j.Department|int == k.id|int %}
										<td>{{k.Name}}</td>
										{% endif %}
										{% endfor %}
										{% endif %}
										{% endfor %}
										<td class="text-center">
											<div class="action-label">
												<a class="btn btn-white btn-sm btn-rounded" href="#">
													<i class="fa-regular fa-circle-dot text-danger"></i> Offered
												</a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
<!-- Chart JS -->
<script src="/templates/assets/js/Chart.min.js"></script>
<!-- <script src="/templates/assets/js/line-chart.js"></script> -->
<script>
	
	// Line Chart

	$(document).ready(function(){
		fetch(`/HrmTool/Job/display_job_graph`)
		.then(res=>res.json())
		.then(res=>{
			console.log(res)
			let lable_name = []
			let Applier_data =[]
			let colour_code =[]

			for(let i=0;i<res.Department.length;i++){
				for(let j=0;j<res.Result.length;j++){
					if(res.Department[i].id == res.Result[j].Department_id){
						lable_name.push(res.Department[i].Name)
						let single_dep_data =[]
						async function colloction_data(){
							single_dep_data.push(res.Result[j].Jan)
							single_dep_data.push(res.Result[j].Feb)
							single_dep_data.push(res.Result[j].Mar)
							single_dep_data.push(res.Result[j].Apr)
							single_dep_data.push(res.Result[j].May)
							single_dep_data.push(res.Result[j].Jun)
							single_dep_data.push(res.Result[j].Jul)
							single_dep_data.push(res.Result[j].Aug)
							single_dep_data.push(res.Result[j].Sep)
							single_dep_data.push(res.Result[j].Oct)
							single_dep_data.push(res.Result[j].Nov)
							single_dep_data.push(res.Result[j].Dec)
						}
						colloction_data()
						Applier_data.push(single_dep_data)
						colour_code.push(res.Department[i].Colour)
					}
				}
			}
			let set_length = lable_name.length
			var ctx = document.getElementById("lineChart").getContext('2d');
			let final = []
			function dd(){
				let ArrayDatasetValues = []
				for(let k=0;k<set_length;k++)
				{
					let values_data =
					{
						label: lable_name[k] ,
						data: Applier_data[k],
						fill: false,
						borderColor: colour_code[k],
						backgroundColor: colour_code[k],
						borderWidth: 1
					}
					ArrayDatasetValues.push(values_data)
				}
				return ArrayDatasetValues;
			}
			var lineChart = new Chart(ctx, 
			{
				type: 'line',
				data: {
					labels: ["Jan",	"Feb",	"Mar",	"Apr",	"May","Jun", "Jul",	"Aug",	"Sep",	"Oct","Nov", "Dec"],
					datasets: dd() },
				options: {
				responsive: true,
					legend: {
						display: false
					}
				}
			});
		})
	})
	
	

</script>

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}