{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col-12">
					<h3 class="page-title">Schedule timing</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item">Jobs</li>
						<li class="breadcrumb-item active">Schedule timing</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Job Title</th>
								<th>User Available Timings</th>
								<th class="text-center">Schedule timing</th>
							</tr>
						</thead>
						<!-- Image Processing Here -->
						{% set values = random_photo %}
						<!-- /Image Processing Here -->
						<tbody>
							{% for i in schedule_data %}
							<tr>
								<td>{{loop.index}}</td>
								<td>
									<h2 class="table-avatar">
										<a href="profile.html" class="avatar"><img src="/templates/assets/jobapplierphoto/Vector-{{values[loop.index0]}}.png" alt="User Image"></a>
										{% for j in job_applier_data %}
										<a href="profile.html"> {{j.Name}} <!-- <span>Web Designer</span> --></a>
										{% endfor %}
									</h2>
								</td>
								<td>
									{% for k in manage_job_data %}
									{% if i.Job_ID |int  == k.id |int %}
									<a href="job-details.html">{{k.Job_Title }}</a>
									{% endif %}
									{% endfor %}
								</td>
								{% if i.Schedule_Date_1 != ''%}
								<td>
									<b>{{i.Schedule_Date_1}}</b> - {{i.Schedule_Time_1}}<br>
									<b>{{i.Schedule_Date_2}}</b> - {{i.Schedule_Time_2}}<br>
									<b>{{i.Schedule_Date_3}}</b> - {{i.Schedule_Time_3}}<br> 
								</td>
								{% else %}
								<td>Nothing Scheduled</td>
								{% endif %}
								<td class="text-center">
									<div class="action-label">
										<a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit_job" href="#" onclick="set_schedule_id('{{i.id}}')">
											Schedule Time
										</a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	<script>
		function set_schedule_id(data){
			$('#schedule_id').val(data)
		}
	</script>
	
	
	<!-- Edit Job Modal -->
	<div id="edit_job" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="" method="post">
						<input id="schedule_id" name="schedule_id" type="hidden" />
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Schedule Date 1</label>
									<input type="text" class="form-control datetimepicker" id="date_1" name="date_1" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Select Time</label>
									<select class="form-select" id="time_1" name="time_1" required>
										<option  disabled>Select Time</option>
										<option>12:00 AM-01:00 AM</option>
										<option>01:00 AM-02:00 AM</option>
										<option>02:00 AM-03:00 AM</option>
										<option>03:00 AM-04:00 AM</option>
										<option>04:00 AM-05:00 AM</option>
										<option>05:00 AM-06:00 AM</option>
									</select>
								</div>
							</div>
					
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Schedule Date 2</label>
									<input type="text" class="form-control datetimepicker" id="date_2" name="date_2" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Select Time</label>
									<select class="form-select" id="time_2" name="time_2" required>
										<option  disabled>Select Time</option>
										<option >12:00 AM-01:00 AM</option>
										<option>01:00 AM-02:00 AM</option>
										<option>02:00 AM-03:00 AM</option>
										<option>03:00 AM-04:00 AM</option>
										<option>04:00 AM-05:00 AM</option>
										<option>05:00 AM-06:00 AM</option>
									</select>
								</div>
							</div>
						
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Schedule Date 3</label>
									<input type="text" class="form-control datetimepicker" id="date_3" name="date_3" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Select Time</label>
									<select class="form-select" id="time_3" name="time_3" required>
										<option  disabled>Select Time</option>
										<option>12:00 AM-01:00 AM</option>
										<option>01:00 AM-02:00 AM</option>
										<option>02:00 AM-03:00 AM</option>
										<option>03:00 AM-04:00 AM</option>
										<option>04:00 AM-05:00 AM</option>
										<option>05:00 AM-06:00 AM</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Job Modal -->

	<!-- Delete Job Modal -->
	<div class="modal custom-modal fade" id="delete_job" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Job Modal -->
	
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}