{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col-12">
					<h3 class="page-title">Shortlist Candidates</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item">Jobs</li>
						<li class="breadcrumb-item active">Shortlist Candidates</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable leave-employee-table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Job Title</th>
								<th>Department</th>
								<th class="text-center">Status</th>
							</tr>
						</thead>
						<!-- Image Processing Here -->
						{% set values = random_photo %}
						<!-- /Image Processing Here -->
						<tbody>
							{% for i in appliers_data %}
							<tr>
								<td>{{loop.index}}</td>
								<td>
									<h2 class="table-avatar">
										<a href="profile.html" class="avatar">
											<img src="/templates/assets/jobapplierphoto/Vector-{{values[loop.index0]}}.png" alt="User Image">
										</a>
										<a href="profile.html">{{i.Name}} <span></span></a>
									</h2>
								</td>
								{% for j in manage_job_data %}
								{% if i.Job_ID|int == j.id|int %}
								<td><a href="job-details.html">{{j.Job_Title}}</a></td>
								{% for k in department_data %}
								{% if j.Department|int == k.id|int %}
								<td>{{k.Name}}</td>
								{% endif %}
								{% endfor %}
								{% endif %}
								{% endfor %}
								<td class="text-center">
									<div class="action-label">
										<a class="btn btn-white btn-sm btn-rounded" href="#">
											<i class="fa-regular fa-circle-dot text-danger"></i> Offered
										</a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	
	
	<!-- Edit Job Modal -->
	<div id="edit_job" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Job</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Job Title</label>
									<input class="form-control" type="text" value="Web Developer">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Department</label>
									<select class="select">
										<option>-</option>
										<option selected>Web Development</option>
										<option>Application Development</option>
										<option>IT Management</option>
										<option>Accounts Management</option>
										<option>Support Management</option>
										<option>Marketing</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Job Location</label>
									<input class="form-control" type="text" value="California">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">No of Vacancies</label>
									<input class="form-control" type="text" value="5">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Experience</label>
									<input class="form-control" type="text" value="2 Years">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Age</label>
									<input class="form-control" type="text" value="-">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Salary From</label>
									<input type="text" class="form-control" value="32k">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Salary To</label>
									<input type="text" class="form-control" value="38k">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Job Type</label>
									<select class="select">
										<option selected>Full Time</option>
										<option>Part Time</option>
										<option>Internship</option>
										<option>Temporary</option>
										<option>Remote</option>
										<option>Others</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="select">
										<option selected>Open</option>
										<option>Closed</option>
										<option>Cancelled</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date</label>
									<input type="text" class="form-control datetimepicker" value="3 Mar 2019">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Expired Date</label>
									<input type="text" class="form-control datetimepicker" value="31 May 2019">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Job Modal -->

	<!-- Delete Job Modal -->
	<div class="modal custom-modal fade" id="delete_job" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Job Modal -->
	
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}