{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">templates/assets</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">templates/assets</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_asset"><i class="fa-solid fa-plus"></i> Add Asset</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<!-- Search Filter -->
		<div class="row filter-row">
			<div class="col-sm-6 col-md-3">  
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating" id="empname" >
					<label class="focus-label">Employee Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3"> 
				<div class="input-block mb-3 form-focus select-focus">
					<select class="select floating" id="status_check" onchange="status_search($(this).val())"> 
						<option selected disabled> -- Select -- </option>
						<option value="Pending"> Pending </option>
						<option value="Approved"> Approved </option>
						<option value="Returned"> Returned </option>
					</select>
					<label class="focus-label">Status</label>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">  
			   <div class="row">  
				   <div class="col-md-6 col-sm-6">  
						<div class="input-block mb-3 form-focus">
							<div class="cal-icon">
								<input class="form-control floating datetimepicker" type="text" id="asset_from_date">
							</div>
							<label class="focus-label">From</label>
						</div>
					</div>
				   <div class="col-md-6 col-sm-6">  
						<div class="input-block mb-3 form-focus">
							<div class="cal-icon">
								<input class="form-control floating datetimepicker" type="text" id="asset_to_date" onclick="search_by_dates($(this).val(),$('#asset_from_date').val())">
							</div>
							<label class="focus-label">To</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-2">
				<div class="d-grid reset_status">
					<a href="#" class="btn btn-success" onclick="performSearch()"> Search </a>  
				</div>  
			</div>     
		</div>
		<!-- /Search Filter -->

		<!-- Search by Employee -->
		<script>
			$('#empname').on('keyup',function(){
				let name = $(this).val()
				if (name){
					fetch(`/HrmTool/Administration/search_employee_assets/${name}`)
					.then(res => res.json())
					.then( res =>{
						console.log(res)
						$('.search_data').html(function()
						{
							let tableData = ``;
							for(let i=0;res.Result.length>i;i++)
							{
								for(let j=0;res.employee_data.length>j;j++)
								{
									if(res.Result[i].Asset_User_id == res.employee_data[j].id)
									{
										tableData+=`
										<tr>
										<td>${res.employee_data[j].First_Name} ${res.employee_data[j].Last_Name}</td>
										<td>${res.Result[i].Asset_Name}</td>
										<td>#${res.Result[i].Asset_Id}</td>
										<td class="dateformate">${res.Result[i].Purchase_Date}</td>
										<td>${res.Result[i].Warranty_Months} months</td>
										<td class="dateformate">${res.Result[i].Warranty_end_Date}</td>
										<td>$${res.Result[i].Value}</td>
										<td class="text-center">
											<div class="dropdown action-label">
												<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-regular fa-circle-dot text-danger"></i> ${res.Result[i].Current_status}
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Pending')"><i class="fa-regular fa-circle-dot text-danger" ></i> Pending</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Approved')"><i class="fa-regular fa-circle-dot text-success" ></i> Approved</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Returned')"><i class="fa-regular fa-circle-dot text-info" ></i> Returned</a>
												</div>
											</div>
										</td>
										<td class="text-end">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_asset" onclick="editing_id('${res.Result[i].id}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_asset" onclick="taking_dlt_dedction('${res.Result[i].id}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>`
									}
								}
	
							}
							return tableData;
						})
					})
				}else{
					location.reload();
				}
			})
		</script>
		<!-- /Search by Employee -->

		<!-- search by status -->
		<script>
			function status_search(data)
			{
				fetch(`/HrmTool/Administration/search_status_data/${data}`)
				.then(res => res.json())
				.then(res =>{
					$('.search_data').html(function(){
						let tableData = ``;
						for(let i=0;res.Result.length>i;i++){
							for(let j=0;res.employee_data.length>j;j++){
								if(res.Result[i].Asset_User_id == res.employee_data[j].id){
									tableData+=`
										<tr>
										<td>${res.employee_data[j].First_Name} ${res.employee_data[j].Last_Name}</td>
										<td>${res.Result[i].Asset_Name}</td>
										<td>#${res.Result[i].Asset_Id}</td>
										<td class="dateformate">${res.Result[i].Purchase_Date}</td>
										<td>${res.Result[i].Warranty_Months} months</td>
										<td class="dateformate">${res.Result[i].Warranty_end_Date}</td>
										<td>$${res.Result[i].Value}</td>
										<td class="text-center">
											<div class="dropdown action-label">
												<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-regular fa-circle-dot text-danger"></i> ${res.Result[i].Current_status}
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Pending')"><i class="fa-regular fa-circle-dot text-danger" ></i> Pending</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Approved')"><i class="fa-regular fa-circle-dot text-success" ></i> Approved</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Returned')"><i class="fa-regular fa-circle-dot text-info" ></i> Returned</a>
												</div>
											</div>
										</td>
										<td class="text-end">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_asset" onclick="editing_id('${res.Result[i].id}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_asset" onclick="taking_dlt_dedction('${res.Result[i].id}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>`
								}
							}
						}
						return tableData;
					})
					$('.reset_status').html(`<a  class="btn btn-rounded btn-secondary" onclick="location.reload()"> Reset </a> `)
				})
			}
		</script>
		<!-- /search by status -->

		<!-- Search by dates -->
		<script>
			function search_by_dates(fromD,toD){
				console.log(fromD)
				console.log(toD)
				fetch(`/HrmTool/Administration/search_dates_via/${fromD}/${toD}`)
				.then(res=>res.json())
				.then(res=>{
					$('.search_data').html(function(){
						let tableData = ``;
						for(let i=0;res.Result.length>i;i++){
							for(let j=0;res.employee_data.length>j;j++){
								if(res.Result[i].Asset_User_id == res.employee_data[j].id){
									tableData+=`
										<tr>
										<td>${res.employee_data[j].First_Name} ${res.employee_data[j].Last_Name}</td>
										<td>${res.Result[i].Asset_Name}</td>
										<td>#${res.Result[i].Asset_Id}</td>
										<td class="dateformate">${res.Result[i].Purchase_Date}</td>
										<td>${res.Result[i].Warranty_Months} months</td>
										<td class="dateformate">${res.Result[i].Warranty_end_Date}</td>
										<td>$${res.Result[i].Value}</td>
										<td class="text-center">
											<div class="dropdown action-label">
												<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-regular fa-circle-dot text-danger"></i> ${res.Result[i].Current_status}
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Pending')"><i class="fa-regular fa-circle-dot text-danger" ></i> Pending</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Approved')"><i class="fa-regular fa-circle-dot text-success" ></i> Approved</a>
													<a class="dropdown-item" href="#" onclick="status_change('${res.Result[i].id}','Returned')"><i class="fa-regular fa-circle-dot text-info" ></i> Returned</a>
												</div>
											</div>
										</td>
										<td class="text-end">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_asset" onclick="editing_id('${res.Result[i].id}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_asset" onclick="taking_dlt_dedction('${res.Result[i].id}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>`
								}
							}
						}
						return tableData;
					})
					$('.reset_status').html(`<a  class="btn btn-rounded btn-secondary" onclick="location.reload()"> Reset </a> `)
				})
			}
		</script>
		<!-- /Search by dates -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>Asset User</th>
								<th>Asset Name</th>
								<th>Asset Id</th>
								<th>Purchase Date</th>
								<th>Warrenty</th>
								<th>Warrenty End</th>
								<th>Amount</th>
								<th class="text-center">Status</th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody class="search_data">
							{% for i in asset_data %}	
							<tr>
								<!-- <td>{{i.id}}</td> -->
								{% for j in employee_data %}
								{% if i.Asset_User_id|int == j.id|int %}
								<td>{{j.First_Name}} {{j.Last_Name}}</td>
								{% endif %}
								{% endfor %}
								<td>
									{{i.Asset_Name}}
								</td>
								<td>#{{i.Asset_Id}}</td>
								
								<td class="dateformate">{{i.Purchase_Date}}</td>
								<td>{{i.Warranty_Months}} months</td>
								<td class="dateformate">{{i.Warranty_end_Date}}</td>
						
								<td>${{i.Value}}</td>
								<td class="text-center">
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.Current_status=='Pending' %}
											<i class="fa-regular fa-circle-dot text-danger"></i> {{i.Current_status}}
											{% elif i.Current_status=='Approved' %}
											<i class="fa-regular fa-circle-dot text-success"></i> {{i.Current_status}}
											{% else %}
											<i class="fa-regular fa-circle-dot text-info"></i> {{i.Current_status}}
											{% endif %}
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" onclick="status_change('{{i.id}}','Pending')"><i class="fa-regular fa-circle-dot text-danger" ></i> Pending</a>
											<a class="dropdown-item" href="#" onclick="status_change('{{i.id}}','Approved')"><i class="fa-regular fa-circle-dot text-success" ></i> Approved</a>
											<a class="dropdown-item" href="#" onclick="status_change('{{i.id}}','Returned')"><i class="fa-regular fa-circle-dot text-info" ></i> Returned</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_asset" onclick="editing_id('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_asset" onclick="taking_dlt_dedction('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Change Status -->
	<script>
		function status_change(id,info){
			fetch(`/HrmTool/Administration/status_update/${id}/${info}`)
			.then(location.reload())
		}
	</script>
	<!-- /Change Status -->

	<!-- Add Asset Modal -->
	<div id="add_asset" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Asset</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="Error"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-2">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block" src="/templates/assets/img/profile1.png" id="add_photo_1" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 1</span>
											<input class="upload" type="file" id="image_1" name="image_1" required onchange="add_photo_1.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block" src="/templates/assets/img/profile1.png" id="add_photo_2" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 2</span>
											<input class="upload" type="file" id="image_2" name="image_2" required onchange="add_photo_2.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block" src="/templates/assets/img/profile1.png" id="add_photo_3" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 3</span>
											<input class="upload" type="file" id="image_3" name="image_3" required onchange="add_photo_3.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block" src="/templates/assets/img/profile1.png" id="add_photo_4" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 4</span>
											<input class="upload" type="file" id="image_4" name="image_4" required onchange="add_photo_4.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset Name</label>
									<input class="form-control" type="text" id="Asset_Name" name="Asset_Name" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset Id</label>
									<input class="form-control" type="text" id="Asset_Id" name="Asset_Id" value="{{asset_id_gen}}" readonly>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Purchase Date</label>
									<input class="form-control datetimepicker" type="text" id="Purchase_Date" name="Purchase_Date" onclick="allowWarrenty()" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Purchase From</label>
									<input class="form-control "  type="text" id="Purchase_From" name="Purchase_From" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Manufacturer</label>
									<input class="form-control" type="text" id="Manufacturer" name="Manufacturer" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Model</label>
									<input class="form-control" type="text" id="Model" name="Model" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Serial Number</label>
									<input class="form-control" type="text" id="Serial_Number" name="Serial_Number" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Supplier</label>
									<input class="form-control" type="text" id="Supplier" name="Supplier" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Warranty</label>
									<div id="origin_warenty">
										<input class="form-control" placeholder="Fill Purchase Date ..." readonly/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Warranty End</label>
									<input class="form-control datetimepicker" type="text" id="Warranty_endDate" name="Warranty_endDate" readonly required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Value</label>
									<input placeholder="$RUPEES" class="form-control" type="text" id="Value" name="Value" pattern="[0-9]+" title="Please enter only numeric values" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset User</label>
									<select class="form-select" id="Asset_User_id" name="Asset_User_id" required>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" id="desc" name="desc" required></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Condition</label>
									<select class="form-select" id="condition" name="condition" required>
										<option value="Good" selected>Good</option>
										<option value="Bad">Bad</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="Current_status" name="Current_status" required>
										<option value="Pending" selected>Pending</option>
										<option value="Approved">Approved</option>
										<option value="Returned">Returned</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_Assets()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Asset Modal -->
	<script>
		async function Finding_EndDate() {
            let from_date = new Date($('#Purchase_Date').val());
            let end_date = new Date(from_date);
            let duration_month = parseInt($('#Warranty').val());
            end_date.setMonth(end_date.getMonth() + duration_month);
            return end_date; // Return the end date object
        }

        async function calculate_end_date() {
            let EndValue = await Finding_EndDate();
			let days = EndValue.getDate().toString().padStart(2,'0')
			let month = (EndValue.getMonth()+1).toString().padStart(2,'0')
			let year = EndValue.getFullYear();
			let Full_value = `${days}-${month}-${year}`
			$('#Warranty_endDate').val(Full_value)
        }

		async function allowWarrenty(){
			$('#origin_warenty').html(`<input class="form-control allow_numbers_only " type="text" placeholder="In Months"  id="Warranty" name="Warranty" oninput="calculate_end_date()" required>`)
		}
		
	</script>

	<!-- Adding with APIs -->
	<script>
		function add_Assets(){
			let Image_1 = $('#image_1')[0];let InputFile_1 = Image_1.files[0]
			let Image_2 = $('#image_2')[0];let InputFile_2 = Image_2.files[0]
			let Image_3 = $('#image_3')[0];let InputFile_3 = Image_3.files[0]
			let Image_4 = $('#image_4')[0];let InputFile_4 = Image_4.files[0]

			// ================>>>. check here all photo are filled or not

			if(InputFile_1 && InputFile_2 && InputFile_3 && InputFile_4)
			{
				let Asset_Name =$('#Asset_Name').val();
				let Asset_Id =$('#Asset_Id').val();
				let Purchase_Date =$('#Purchase_Date').val();
				let Purchase_From =$('#Purchase_From').val();
				let Manufacturer =$('#Manufacturer').val();
				let Model =$('#Model').val();
				let Serial_Number =$('#Serial_Number').val();
				let Supplier =$('#Supplier').val();
				let Warranty =$('#Warranty').val();
				let Warranty_endDate =$('#Warranty_endDate').val();
				let Value =$('#Value').val();
				let Asset_User_id =$('#Asset_User_id').val();
				let desc =$('#desc').val();
				let condition =$('#condition').val();
				let Current_status =$('#Current_status').val();

				// =================================>>> check here to fill or not else show a error 
				if (Asset_Name === '' || Asset_Name === null) {$('#Asset_Name').css('border-color','#f43b48');} else{$('#Asset_Name').css('border-color','#3bf441')}
				if (Asset_Id === '' || Asset_Id === null) {$('#Asset_Id').css('border-color','#f43b48');} else{$('#Asset_Id').css('border-color','#3bf441')}
				if (Purchase_Date === '' || Purchase_Date === null) {$('#Purchase_Date').css('border-color','#f43b48');} else{$('#Purchase_Date').css('border-color','#3bf441')}
				if (Purchase_From === '' || Purchase_From === null) {$('#Purchase_From').css('border-color','#f43b48');} else{$('#Purchase_From').css('border-color','#3bf441')}
				if (Manufacturer === '' || Manufacturer === null) {$('#Manufacturer').css('border-color','#f43b48');} else{$('#Manufacturer').css('border-color','#3bf441')}
				if (Model === '' || Model === null) {$('#Model').css('border-color','#f43b48');} else{$('#Model').css('border-color','#3bf441')}
				if (Serial_Number === '' || Serial_Number === null) {$('#Serial_Number').css('border-color','#f43b48');} else{$('#Serial_Number').css('border-color','#3bf441')}
				if (Supplier === '' || Supplier === null) {$('#Supplier').css('border-color','#f43b48');} else{$('#Supplier').css('border-color','#3bf441')}
				if (Warranty === '' || Warranty === null) {$('#Warranty').css('border-color','#f43b48');} else{$('#Warranty').css('border-color','#3bf441')}
				if (Warranty_endDate === '' || Warranty_endDate === null) {$('#Warranty_endDate').css('border-color','#f43b48');} else{$('#Warranty_endDate').css('border-color','#3bf441')}
				if (Value === '' || Value === null) {$('#Value').css('border-color','#f43b48');} else{$('#Value').css('border-color','#3bf441')}
				if (Asset_User_id === '' || Asset_User_id === null) {$('#Asset_User_id').css('border-color','#f43b48');} else{$('#Asset_User_id').css('border-color','#3bf441')}
				if (desc === '' || desc === null) {$('#desc').css('border-color','#f43b48');} else{$('#desc').css('border-color','#3bf441')}
				if (condition === '' || condition === null) {$('#condition').css('border-color','#f43b48');} else{$('#condition').css('border-color','#3bf441')}
				if (Current_status === '' || Current_status === null) {$('#Current_status').css('border-color','#f43b48');} else{$('#Current_status').css('border-color','#3bf441')}

				if(Asset_Name !==null && Asset_Id !==null && Purchase_Date !==null && Purchase_From !==null && Manufacturer!==null && Model !==null && Serial_Number !==null && Supplier !==null && Warranty !==null && Warranty_endDate !==null && Value !==null && Asset_User_id !==null && desc !==null && condition !==null && Current_status !==null){

					//=========>>> if all ok pass all data to backend
					const formData = new FormData();
					formData.append('Asset_Name',Asset_Name)
					formData.append('Asset_Id',Asset_Id)
					formData.append('Purchase_Date',Purchase_Date)
					formData.append('Purchase_From',Purchase_From)
					formData.append('Manufacturer',Manufacturer)
					formData.append('Model',Model)
					formData.append('Serial_Number',Serial_Number)
					formData.append('Supplier',Supplier)
					formData.append('Warranty',Warranty)
					formData.append('Warranty_endDate',Warranty_endDate)
					formData.append('Value',Value)
					formData.append('Asset_User_id',Asset_User_id)
					formData.append('desc',desc)
					formData.append('Condition',condition)
					formData.append('Current_status',Current_status)
					// //============>>> Image file 
					formData.append('image_1',InputFile_1)
					formData.append('image_2',InputFile_2)
					formData.append('image_3',InputFile_3)
					formData.append('image_4',InputFile_4)
					
					fetch(`/HrmTool/Administration/add_asset`,{method:'post',body:formData})
					.then( res => res.json())
					.then( res =>{
						if(res.Result == 'Done'){
							location.reload()
						}else{
							$('.Error').html(`<h5 class="text-danger" style="padding-left: 182px;">⚠ Already Data Entered...</h5>`)
						}
					})

				}

			}else
			{
				alert("Fill All Images")
			}

		}
	</script>
	
	<!-- Edit Asset Modal -->
	<div id="edit_asset" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Asset</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="Edit_Error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_id" type="hidden" />
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-2">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block"  id="edit_photo_1" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 1</span>
											<input class="upload" type="file" id="edit_image_1" name="edit_image_1" required onchange="edit_photo_1.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block"  id="edit_photo_2" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 2</span>
											<input class="upload" type="file" id="edit_image_2" name="edit_image_2" required onchange="edit_photo_2.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block"  id="edit_photo_3" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 3</span>
											<input class="upload" type="file" id="edit_image_3" name="edit_image_3" required onchange="edit_photo_3.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<div class="profile-img-wrap edit-img">
										<img class="inline-block"  id="edit_photo_4" alt="User Image">
										<div class="fileupload btn">
											<span class="btn-text">Image 4</span>
											<input class="upload" type="file" id="edit_image_4" name="edit_image_4" required onchange="edit_photo_4.src=window.URL.createObjectURL(this.files[0])" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset Name</label>
									<input class="form-control" type="text" id="edit_asset_name" name="edit_asset_name" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset Id</label>
									<input class="form-control" type="text" id="edit_assetid" name="edit_assetid" value="{{asset_id_gen}}" readonly>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Purchase Date</label>
									<input class="form-control datetimepicker" type="text" id="edit_pdate" name="edit_pdate" onclick="calculate_edit_end_date()" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Purchase From</label>
									<input class="form-control "  type="text" id="edit_pfrom" name="edit_pfrom" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Manufacturer</label>
									<input class="form-control" type="text" id="edit_man" name="edit_man" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Model</label>
									<input class="form-control" type="text" id="edit_model" name="edit_model" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Serial Number</label>
									<input class="form-control" type="text" id="edit_snum" name="edit_snum" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Supplier</label>
									<input class="form-control" type="text" id="edit_sup" name="edit_sup" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Warranty</label>
									<div id="origin_warenty">
										<input class="form-control" id="edit_war" name="edit_war" required/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Warranty End</label>
									<input class="form-control datetimepicker" type="text" id="edit_warEnd" name="edit_warEnd" readonly required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Value</label>
									<input placeholder="$RUPEES" class="form-control" type="text" id="edit_val" name="edit_val" pattern="[0-9]+" title="Please enter only numeric values" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Asset User</label>
									<select class="form-select" id="edit_assuser" name="edit_assuser" required>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" id="edit_desc" name="edit_desc" required></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Condition</label>
									<select class="form-select" id="edit_con" name="edit_con" required>
										<option value="Good" selected>Good</option>
										<option value="Bad">Bad</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="edit_stat" name="edit_stat" required>
										<option value="Pending" selected>Pending</option>
										<option value="Approved">Approved</option>
										<option value="Returned">Returned</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_Assets()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Asset Modal -->

	<!-- Edit Script -->
	<script>
		function editing_id(data){
		   $.get('/HrmTool/Administration/taking_edit_id/'+data,function(res){
			   $('#edit_idz').val(res.id)
			   $('#edit_asset_name').val(res.Asset_Name)
			   $('#edit_assetid').val(res.Asset_Id)
			   $('#edit_pdate').val(res.Purchase_Date)
			   $('#edit_pfrom').val(res.Purchase_From)
			   $('#edit_man').val(res.Manufacturer)
			   $('#edit_model').val(res.Model)
			   $('#edit_snum').val(res.Serial_Number)
			   $('#edit_sup').val(res.Supplier)
			   $('#edit_war').val(res.Warranty_Months)
			   $('#edit_warEnd').val(res.Warranty_end_Date)
			   $('#edit_val').val(res.Value)
			   $('#edit_assuser').val(res.Asset_User_id)
			   $('#edit_desc').val(res.Description)
			   $('#edit_con').val(res.Condition)
			   $('#edit_stat').val(res.Current_status)
			   //================>>>> Image Section
			   $('#edit_photo_1').attr('src',`/templates/assets/uploaded_files/${res.Asset_Image_1}`)
			   $('#edit_photo_2').attr('src',`/templates/assets/uploaded_files/${res.Asset_Image_2}`)
			   $('#edit_photo_3').attr('src',`/templates/assets/uploaded_files/${res.Asset_Image_3}`)
			   $('#edit_photo_4').attr('src',`/templates/assets/uploaded_files/${res.Asset_Image_4}`)
		   })
	   }

	   function edit_Assets()
	   {
		let Edit_id = $('#edit_idz').val();
		let Edit_Assets_Name = $('#edit_asset_name').val();
		let Edit_Asset_ID = $('#edit_assetid').val();
		let Edit_PDate = $('#edit_pdate').val();
		let Edit_PFrom = $('#edit_pfrom').val();
		let Edit_Man = $('#edit_man').val();
		let Edit_Model = $('#edit_model').val();
		let Edit_Serial = $('#edit_snum').val();
		let Edit_Supplier = $('#edit_sup').val();
		let Edit_Warrenty = $('#edit_war').val();
		let Edit_WarEnd = $('#edit_warEnd').val();
		let Edit_Value = $('#edit_val').val();
		let Edit_Asset_User = $('#edit_assuser').val();
		let Edit_Desc = $('#edit_desc').val();
		let Edit_Condition = $('#edit_con').val();
		let Edit_Status = $('#edit_stat').val();

		function Test_File_1(){let Edit_Img_1 = $('#edit_image_1')[0]; let Edit_File_1 = Edit_Img_1.files[0];if (Edit_File_1){return Edit_File_1}else{return 'None'}}
		function Test_File_2(){let Edit_Img_2 = $('#edit_image_2')[0]; let Edit_File_2 = Edit_Img_2.files[0];if (Edit_File_2){return Edit_File_2}else{return 'None'}}
		function Test_File_3(){let Edit_Img_3 = $('#edit_image_3')[0]; let Edit_File_3 = Edit_Img_3.files[0];if (Edit_File_3){return Edit_File_3}else{return 'None'}}
		function Test_File_4(){let Edit_Img_4 = $('#edit_image_4')[0]; let Edit_File_4 = Edit_Img_4.files[0];if (Edit_File_4){return Edit_File_4}else{return 'None'}}

		// =================================>>> check here to fill or not else show a error 
		if (Edit_Assets_Name === '' || Edit_Assets_Name === null) {$('#edit_asset_name').css('border-color','#f43b48');} else{$('#edit_asset_name').css('border-color','#3bf441')}
		if (Edit_Asset_ID === '' || Edit_Asset_ID === null) {$('#edit_assetid').css('border-color','#f43b48');} else{$('#edit_assetid').css('border-color','#3bf441')}
		if (Edit_PDate === '' || Edit_PDate === null) {$('#edit_pdate').css('border-color','#f43b48');} else{$('#edit_pdate').css('border-color','#3bf441')}
		if (Edit_PFrom === '' || Edit_PFrom === null) {$('#edit_pfrom').css('border-color','#f43b48');} else{$('#edit_pfrom').css('border-color','#3bf441')}
		if (Edit_Man === '' || Edit_Man === null) {$('#edit_man').css('border-color','#f43b48');} else{$('#edit_man').css('border-color','#3bf441')}
		if (Edit_Model === '' || Edit_Model === null) {$('#edit_model').css('border-color','#f43b48');} else{$('#edit_model').css('border-color','#3bf441')}
		if (Edit_Serial === '' || Edit_Serial === null) {$('#edit_snum').css('border-color','#f43b48');} else{$('#edit_snum').css('border-color','#3bf441')}
		if (Edit_Supplier === '' || Edit_Supplier === null) {$('#edit_sup').css('border-color','#f43b48');} else{$('#edit_sup').css('border-color','#3bf441')}
		if (Edit_Warrenty === '' || Edit_Warrenty === null) {$('#edit_war').css('border-color','#f43b48');} else{$('#edit_war').css('border-color','#3bf441')}
		if (Edit_WarEnd === '' || Edit_WarEnd === null) {$('#edit_warEnd').css('border-color','#f43b48');} else{$('#edit_warEnd').css('border-color','#3bf441')}
		if (Edit_Value === '' || Edit_Value === null) {$('#edit_val').css('border-color','#f43b48');} else{$('#edit_val').css('border-color','#3bf441')}
		if (Edit_Asset_User === '' || Edit_Asset_User === null) {$('#edit_assuser').css('border-color','#f43b48');} else{$('#edit_assuser').css('border-color','#3bf441')}
		if (Edit_Desc === '' || Edit_Desc === null) {$('#edit_desc').css('border-color','#f43b48');} else{$('#edit_desc').css('border-color','#3bf441')}
		if (Edit_Condition === '' || Edit_Condition === null) {$('#edit_con').css('border-color','#f43b48');} else{$('#edit_con').css('border-color','#3bf441')}
		if (Edit_Status === '' || Edit_Status === null) {$('#edit_stat').css('border-color','#f43b48');} else{$('#edit_stat').css('border-color','#3bf441')}

		if(Edit_Assets_Name!==null && Edit_Asset_ID!==null && Edit_PDate!==null && Edit_PFrom!==null && Edit_Man!==null && Edit_Model!==null && Edit_Serial!==null && Edit_Supplier!==null && Edit_Warrenty!==null && Edit_WarEnd!==null && Edit_Value!==null && Edit_Asset_User!==null && Edit_Desc!==null && Edit_Condition!==null && Edit_Status!==null){

			const formData = new FormData();
			formData.append('edit_idz',Edit_id)
			formData.append('edit_asset_name',Edit_Assets_Name)
			formData.append('edit_assetid',Edit_Asset_ID)
			formData.append('edit_pdate',Edit_PDate)
			formData.append('edit_pfrom',Edit_PFrom)
			formData.append('edit_man',Edit_Man)
			formData.append('edit_model',Edit_Model)
			formData.append('edit_snum',Edit_Serial)
			formData.append('edit_sup',Edit_Supplier)
			formData.append('edit_war',Edit_Warrenty)
			formData.append('edit_warEnd',Edit_WarEnd)
			formData.append('edit_val',Edit_Value)
			formData.append('edit_assuser',Edit_Asset_User)
			formData.append('edit_desc',Edit_Desc)
			formData.append('edit_con',Edit_Condition)
			formData.append('edit_stat',Edit_Status)
			//====================>>> Images Section 
			let check_image_1 = Test_File_1();
			let check_image_2 = Test_File_2();
			let check_image_3 = Test_File_3();
			let check_image_4 = Test_File_4();

			if (check_image_1!='None'){formData.append('edit_image_1',Test_File_1())}
			if (check_image_2!='None'){formData.append('edit_image_2',Test_File_2())}
			if (check_image_3!='None'){formData.append('edit_image_3',Test_File_3())}
			if (check_image_4!='None'){formData.append('edit_image_4',Test_File_4())}
			
			fetch(`/HrmTool/Administration/edit_asset`,{method:'post',body:formData})
			.then( res => res.json())
			.then( res =>{
				if(res.Result =='Done'){
					location.reload()
				}else(
					$('.Edit_Error').html(`<h5 class="text-danger" style="padding-left: 182px;">⚠ Already Data Entered...</h5>`)
				)
			})
		}


	   }
   </script>
   <script>
		async function Finding_Edit_EndDate() {
            let from_date = new Date($('#edit_pdate').val());
            let end_date = new Date(from_date);
            let duration_month = parseInt($('#edit_war').val());
            end_date.setMonth(end_date.getMonth() + duration_month);
            return end_date; // Return the end date object
        }

        async function calculate_edit_end_date() {
            let EndValue = await Finding_Edit_EndDate();
			console.log(EndValue)
			let days = EndValue.getDate().toString().padStart(2,'0')
			let month = (EndValue.getMonth()+1).toString().padStart(2,'0')
			let year = EndValue.getFullYear();
			let Full_value = `${days}-${month}-${year}`
			$('#edit_warEnd').val(Full_value)
        }
	</script>
	<!-- /Edit Script -->
	
	<!-- Delete Asset Modal -->
	<div class="modal custom-modal fade" id="delete_asset" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Asset</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_pop_deduction" id="delete_pop_deduction" type="hidden">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_delete_deduction($('#delete_pop_deduction').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Asset Modal -->

	<!-- Delete Script -->
	<script>
		function taking_dlt_dedction(data){
		   $('#delete_pop_deduction').val(data)
	   }

	   function conform_delete_deduction(data){
		   $.get('/HrmTool/Administration/taking_dlt_id_deduction/'+data,function(res){
			   location.reload();
		   })
	   }
	</script>
	<!-- /Delete Script -->

	
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}