{% include "Layout/top.html" %}
{% include "Layout/side.html" %}
			
<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Training</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Training</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_training"><i class="fa-solid fa-plus"></i> Add New </a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Training Type</th>
								<th>Trainer</th>
								<th>Employee</th>
								<th>Time From</th>
								<th>Time To</th>
								<th>Description </th>
								<th>Cost </th>
								<th>Status </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in training_data %}
							<tr>
								<td>{{loop.index}}</td>
								<!-- Training Type -->
								{% for j in training_type_data %}
								{% if i.Training_Type_id|int == j.id|int %}
								<td>{{j.Name}}</td>
								{% endif %}
								{% endfor %}
								<!-- /Training Type -->
								<!-- Trainer staff -->
								{% for k in trainers_data %}
								{% if i.Trainer_id|int == k.id|int %}
								<td>
									<h2 class="table-avatar">
										<a target="_blank" href="/templates/assets/uploaded_files/{{k.Photo}}" class="avatar"><img src="/templates/assets/uploaded_files/{{k.Photo}}" alt="User Image"></a>
										<a target="_blank" href="/templates/assets/uploaded_files/{{k.Photo}}">{{k.First_Name}} {{k.Last_Name}} </a>
									</h2>
								</td>
								{% endif %}
								{% endfor %}
								<!-- /Trainer staff -->

								<!-- Our Employess -->
								<td>
									<ul class="team-members">
										{% for emp in training_followers_data %}
										{% if loop.index <= 2 %}
										{% if i.id|int == emp.Training_id|int %}
										{% for org_emp in employee_data %}
										{% if org_emp.id|int == emp.Employees_id|int %}
										<li>
											<a href="#" title="{{org_emp.First_Name}} {{org_emp.Last_Name}}" data-bs-toggle="tooltip"><img src="/templates/assets/uploaded_files/{{org_emp.Photo}}" alt="User Image"></a>
										</li>
										{% endif %}
										{% endfor %}
										{% endif %}
										{% endif %}
										{% endfor %}

										<!-- Other Display -->
										<!-- <li class="dropdown avatar-dropdown">
											<a href="#" class="all-users dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">+</a>
											<div class="dropdown-menu dropdown-menu-right">
												<div class="avatar-group">
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/uploaded_files/" alt="User Image">
													</a>
												</div>
												<div class="avatar-pagination">
													<ul class="pagination">
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Previous">
																<span aria-hidden="true">«</span>
																<span class="visually-hidden">Previous</span>
															</a>
														</li>
														<li class="page-item"><a class="page-link" href="#">1</a></li>
														<li class="page-item"><a class="page-link" href="#">2</a></li>
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Next">
																<span aria-hidden="true">»</span>
																<span class="visually-hidden">Next</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li> -->
										<!-- /Other Display -->
									</ul>
								</td>
								
								<!-- /Our Employess -->

								<td class="dateformate">{{i.Start_Date}}</td> - <td class="dateformate">{{i.End_Date}}</td>
								<td>{{i.Description[:10:]}} ...</td>
								<td>$ {{i.Training_Cost}}</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.Current_status=='Active' %}
											<i class="fa-regular fa-circle-dot text-success"></i> {{i.Current_status}}
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> {{i.Current_status}}
											{% endif %}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Active')"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Inactive')"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_training" onclick="collect_edit_id('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_training" onclick="collect_delete_id('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/update_status_training/${ids}/${info}`)
			location.reload()
			location.reload()
			
		}
	</script>

	<!-- Add Training List Modal -->
	<div id="add_training" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Training</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Type</label>
									<select class="form-select" id="t_type" name="t_type" required>
										<option selected disabled>-select</option>
										{% for i in  training_type_data %}
										<option value="{{i.id}}">{{i.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Trainer</label>
									<select class="form-select" id="staff" name="staff" required >
										<option selected disabled>-select</option>
										{% for i in  trainers_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Employees</label>
									<select class="selectpicker" multiple data-live-search="true" id="emps" name="emps" required>
										<option selected disabled>-select</option>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Cost <span class="text-danger">*</span></label>
									<input class="form-control allow_numbers_only" type="text" id="cost" name="cost"  required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" id="s_date" name="s_date" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" id="e_date" name="e_date" required >
									</div>
								</div>
							</div>
							
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" rows="4" placeholder="Enter 255 Character's" id="desc" name="desc" required></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="c_status" nam="c_status" required>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_training()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Training List Modal -->
	

	<script>
		function add_training(){
			let Type = $('#t_type').val();
			let Trainer = $('#staff').val();
			let Employee = $('#emps').val();
			let Cost = $('#cost').val();
			let Start = $('#s_date').val();
			let End = $('#e_date').val();
			let Desc = $('#desc').val();
			let Stat = $('#c_status').val();

			console.log(Employee)

			if(Type===''||Type===null){$('#t_type').css('border-color','#ff0000')}else{$('#t_type').css('border-color','#00ff00')}
			if(Trainer===''||Trainer===null){$('#staff').css('border-color','#ff0000')}else{$('#staff').css('border-color','#00ff00')}
			if(Employee== [] ||Employee===null){$('#emps').css('border-color','#ff0000')}else{$('#emps').css('border-color','#00ff00')}
			if(Cost===''||Cost===null){$('#cost').css('border-color','#ff0000')}else{$('#cost').css('border-color','#00ff00')}
			if(Start===''||Start===null){$('#s_date').css('border-color','#ff0000')}else{$('#s_date').css('border-color','#00ff00')}
			if(End===''||End===null){$('#e_date').css('border-color','#ff0000')}else{$('#e_date').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#desc').css('border-color','#ff0000')}else{$('#desc').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#c_status').css('border-color','#ff0000')}else{$('#c_status').css('border-color','#00ff00')}

			if(Type!==null && Trainer!==null && Employee!=[] && Cost!==null && Start!==null && End!==null && Desc!==null && Stat!==null){

				const formData = new FormData();
				formData.append('t_type',Type)
				formData.append('staff',Trainer)
				formData.append('emps',Employee)
				formData.append('cost',Cost)
				formData.append('s_date',Start)
				formData.append('e_date',End)
				formData.append('desc',Desc)
				formData.append('c_status',Stat)

				fetch(`/HrmTool/Performance/training_list`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload();
					}else if (res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already data Entered</h5>`)
					}else if(res.Result=='Emp'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:200px;">Choose Employees</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Edit Training List Modal -->
	<div id="edit_training" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Training List</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden" />
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Type</label>
									<select class="form-select" id="e_t_type" name="e_t_type" required>
										<option selected disabled>-select</option>
										{% for i in  training_type_data %}
										<option value="{{i.id}}">{{i.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Trainer</label>
									<select class="form-select" id="e_staff" name="e_staff" required >
										<option selected disabled>-select</option>
										{% for i in  trainers_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3 ">
									<div class="edit_emp_page">
										<label class="col-form-label">Employees</label>
										<select class="selectpicker" multiple data-live-search="true" id="e_emps" name="e_emps" required>
											{% for i in employee_data %}
											<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3 ">
									<label class="col-form-label">Training Cost <span class="text-danger">*</span></label>
									<input class="form-control allow_numbers_only" type="text" id="e_cost" name="e_cost"  required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" id="e_s_date" name="e_s_date" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" id="e_e_date" name="e_e_date" required >
									</div>
								</div>
							</div>
							
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" rows="4" placeholder="Enter 255 Character's" id="e_desc" name="e_desc" required></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="e_c_status" nam="e_c_status" required>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_training()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Training List Modal -->

	<script>

		function collect_edit_id(data){
			fetch(`/HrmTool/Performance/collect_training_data/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Training.id)
				$('#e_t_type').val(res.Training.Training_Type_id)
				$('#e_staff').val(res.Training.Trainer_id)
				$('#e_cost').val(res.Training.Training_Cost)
				$('#e_s_date').val(res.Training.Start_Date)
				$('#e_e_date').val(res.Training.End_Date)
				$('#e_desc').val(res.Training.Description)
				$('#e_c_status').val(res.Training.Current_status)
				$('#e_emps').val(multiEmployee())
				// multi select 
				function multiEmployee(){
					let list_employee = []
					for(i=0;i<res.Followers.length;i++){
						list_employee.push(res.Followers[i].Employees_id)
					}
					return list_employee;
				}
			})
		}

		function edit_training(){
			let Edit_id = $('#edit_idz').val();
			let Type = $('#e_t_type').val();
			let Trainer = $('#e_staff').val();
			let Employee = $('#e_emps').val();
			let Cost = $('#e_cost').val();
			let Start = $('#e_s_date').val();
			let End = $('#e_e_date').val();
			let Desc = $('#e_desc').val();
			let Stat = $('#e_c_status').val();

			console.log(Employee)

			if(Type===''||Type===null){$('#e_t_type').css('border-color','#ff0000')}else{$('#e_t_type').css('border-color','#00ff00')}
			if(Trainer===''||Trainer===null){$('#e_staff').css('border-color','#ff0000')}else{$('#e_staff').css('border-color','#00ff00')}
			if(Employee== [] ||Employee===null){$('#e_emps').css('border-color','#ff0000')}else{$('#e_emps').css('border-color','#00ff00')}
			if(Cost===''||Cost===null){$('#e_cost').css('border-color','#ff0000')}else{$('#e_cost').css('border-color','#00ff00')}
			if(Start===''||Start===null){$('#e_s_date').css('border-color','#ff0000')}else{$('#e_s_date').css('border-color','#00ff00')}
			if(End===''||End===null){$('#e_e_date').css('border-color','#ff0000')}else{$('#e_e_date').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#e_desc').css('border-color','#ff0000')}else{$('#e_desc').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#e_c_status').css('border-color','#ff0000')}else{$('#e_c_status').css('border-color','#00ff00')}

			if(Type!==null && Trainer!==null && Employee!=[] && Cost!==null && Start!==null && End!==null && Desc!==null && Stat!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_id)
				formData.append('e_t_type',Type)
				formData.append('e_staff',Trainer)
				formData.append('e_emps',Employee)
				formData.append('e_cost',Cost)
				formData.append('e_s_date',Start)
				formData.append('e_e_date',End)
				formData.append('e_desc',Desc)
				formData.append('e_c_status',Stat)

				fetch(`/HrmTool/Performance/training_list_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload();
					}else if (res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already data Entered</h5>`)
					}else if(res.Result=='Emp'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:200px;">Choose Employees</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:200px;">Unable To Update</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Delete Training List Modal -->
	<div class="modal custom-modal fade" id="delete_training" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Training List</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<input id="conform_del" name="conform_del" type="hidden" />
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_delete($('#conform_del').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Training List Modal -->

	<script>
		function collect_delete_id(data){
			$('#conform_del').val(data)
		}

		function conform_delete(data){
			fetch(`/HrmTool/Performance/del_training_data/${data}`)
			.then(location.reload())
		}
	</script>

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}