{% include "Layout/top.html" %}
{% include "Layout/side.html" %}
			
<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Training Type</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Training Type</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_type"><i class="fa-solid fa-plus"></i> Add Type</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Type </th>
								<th>Description </th>
								<th>Status </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in training_type_data %}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{i.Name}}</td>
								<td>{{i.Description[:10:]}}...</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.Current_status == 'Active'%}
											<i class="fa-regular fa-circle-dot text-success"></i> {{i.Current_status}}
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> {{i.Current_status}}
											{% endif %}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Active')"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Inactive')"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_type" onclick="taking_typeEdit_id('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_type" onclick="taking_typeDel_id('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/update_current_status/${ids}/${info}`)
			.then(location.reload())
		}
	</script>

	<!-- Add Training Type Modal -->
	<div id="add_type" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<label class="col-form-label">Type <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="types" name="types" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Description <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="4" placeholder="Enter 255 Character" id="desc" name="desc" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Status</label>
							<select class="form-select" id="c_status" name="c_status" required>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
							</select>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_traning_type()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Training Type Modal -->

	<script>
		function add_traning_type(){
			let Type = $('#types').val();
			let Desc = $('#desc').val();
			let Status = $('#c_status').val();

			if(Type===''||Type===null){$('#types').css('border-color','#ff6666')}else{$('#types').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#desc').css('border-color','#ff6666')}else{$('#desc').css('border-color','#00ff00')}
			if(Status===''||Status===null){$('#c_status').css('border-color','#ff6666')}else{$('#c_status').css('border-color','#00ff00')}

			if(Type!==null && Desc!==null && Status!==null){

				const formData = new FormData();
				formData.append('types',Type)
				formData.append('desc',Desc)
				formData.append('c_status',Status)

				fetch(`/HrmTool/Performance/training_type`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}

		}
	</script>
	
	<!-- Edit Training Type Modal -->
	<div id="edit_type" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Type</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden" />
						<div class="input-block mb-3">
							<label class="col-form-label">Type <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="edit_name" name="edit_name" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Description <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="4" placeholder="Enter 255 Characters" id="edit_desc" name="edit_desc" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Status</label>
							<select class="form-select" id="edit_c_status" name="edit_c_status" required>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
							</select>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_traning_type()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Training Type Modal -->

	<script>
		function taking_typeEdit_id(data){
			fetch(`/HrmTool/Performance/taking_traning_type_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#edit_name').val(res.Result.Name)
				$('#edit_desc').val(res.Result.Description)
				$('#edit_c_status').val(res.Result.Current_status)
			})
		}

		function edit_traning_type(){
			let Edit_ID = $('#edit_idz').val();
			let Type = $('#edit_name').val();
			let Desc = $('#edit_desc').val();
			let Status = $('#edit_c_status').val();

			if(Type===''||Type===null){$('#edit_name').css('border-color','#ff6666')}else{$('#edit_name').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#edit_desc').css('border-color','#ff6666')}else{$('#edit_desc').css('border-color','#00ff00')}
			if(Status===''||Status===null){$('#edit_c_status').css('border-color','#ff6666')}else{$('#edit_c_status').css('border-color','#00ff00')}

			if(Type!==null && Desc!==null && Status!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_ID)
				formData.append('edit_name',Type)
				formData.append('edit_desc',Desc)
				formData.append('edit_c_status',Status)

				fetch(`/HrmTool/Performance/training_type_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Delete Training Type Modal -->
	<div class="modal custom-modal fade" id="delete_type" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Training Type</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<input id="del_id" name="del_id" type="hidden" />
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_del($('#del_id').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Training Type Modal -->
	<script>
		function taking_typeDel_id(data){
			$('#del_id').val(data)
		}

		function conform_del(ids){
			fetch(`/HrmTool/Performance/del_training_type/${ids}`)
			.then(location.reload())
		}
	</script>

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}