{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Training</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Training</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_training"><i
							class="fa-solid fa-plus"></i> Add New </a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Training Type</th>
								<th>Trainer</th>
								<th>Employee</th>
								<th>Time Duration</th>
								<th>Description </th>
								<th>Cost </th>
								<th>Status </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% for i in training_data %}
								<td>{{i.id}}</td>
								<td>

									<h2 class="table-avatar">
										<!-- <a href="profile.html" class="avatar"><img src="/templates/assets/img/profiles/avatar-02.jpg" alt="User Image"></a> -->
										<a href="profile.html">{{i.Training_Type_id}} </a>
									</h2>
								</td>
								<td>{{i.Trainer_id}}</td>
								<td>{{i.Employees_id}}</td>

								<!-- <ul class="team-members">
										<li>
											<a href="#" title="Bernardo Galaviz" data-bs-toggle="tooltip"><img src="/templates/assets/img/profiles/avatar-10.jpg" alt="User Image"></a>
										</li>
										<li>
											<a href="#" title="Richard Miles" data-bs-toggle="tooltip"><img src="/templates/assets/img/profiles/avatar-09.jpg" alt="User Image"></a>
										</li> -->
								<!-- <li class="dropdown avatar-dropdown">
											<a href="#" class="all-users dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">+15</a>
											<div class="dropdown-menu dropdown-menu-right">
												<div class="avatar-group">
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-02.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-09.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-10.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-05.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-11.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-12.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-13.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-01.jpg" alt="User Image">
													</a>
													<a class="avatar avatar-xs" href="#">
														<img src="/templates/assets/img/profiles/avatar-16.jpg" alt="User Image">
													</a> -->
								<!-- </div> -->
								<!-- <div class="avatar-pagination">
													<ul class="pagination">
														<li class="page-item"> -->
								<!-- <a class="page-link" href="#" aria-label="Previous">
																<span aria-hidden="true">«</span>
																<span class="visually-hidden">Previous</span>
															</a>
														</li>
														<li class="page-item"><a class="page-link" href="#">1</a></li>
														<li class="page-item"><a class="page-link" href="#">2</a></li>
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Next">
																<span aria-hidden="true">»</span>
																<span class="visually-hidden">Next</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li> 
									</ul> -->
								<!-- </td> -->
								<td>{{i.Start_Date}}-{{i.End_Date}}</td>
								<td>{{i.Description}}</td>
								<td>{{i.Training_Cost}}</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa-regular fa-circle-dot text-success"></i>{{i.Current_status}}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_training" onclick="editing_id('{{i.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_training"
												onclick="taking_dlt_dedction('{{i.id}}') "><i
													class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>

						<script>
							function editing_id(data) {
								$.get('/taking_edit_id/' + data, function (res) {
									console.log(res)
									$('#edit_id').val(res.id)
									$('#edit_ttype').val(res.Training_Type_id)
									$('#edit_trainer').val(res.Trainer_id)
									$('#edit_emp').val(res.Employees_id)
									$('#edit_tcost').val(res.Training_Cost)
									$('#edit_startdate').val(res.Start_Date)
									$('#edit_enddate').val(res.End_Date)
									$('#edit_description').val(res.Description)
									$('#edit_status').val(res.Current_status)
								})
							}




							function taking_dlt_dedction(data) {
								$('#delete_pop_deduction').val(data)

							}

							function conform_delete_deduction(data) {
								$.get('/taking_dlt_id_deduction/' + data, function (res) {

									location.reload();
								})
							}

						</script>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Training List Modal -->
	<div id="add_training" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Training</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/training_add" method="POST">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Type</label>
									<select class="form-select" id="ttype" name="ttype">
										<option>Node Training</option>
										<option>Swift Training</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Trainer</label>
									<select class="form-select" id="trainer" name="trainer">
										<option>Mike Litorus </option>
										<option>John Doe</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Employees</label>
									<select class="form-select" id="emp" name="emp">
										<option>Bernardo Galaviz</option>
										<option>Jeffrey Warden</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Cost <span
											class="text-danger">*</span></label>
									<input class="form-control" type="text" id="tcost" name="tcost" pattern="[0-9]+"
										title="Please enter only numeric values">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text"
											id="startdate" name="startdate"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text"
											id="enddate" name="enddate"></div>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" rows="4" id="description"
										name="description"></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="status" name="status">
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Training List Modal -->

	<!-- Edit Training List Modal -->
	<div id="edit_training" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Training List</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/training_update" method="POST">
						<div class="row">
							<input id="edit_id" name="edit_id" type="hidden">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Type</label>
									<select class="form-select" id="edit_ttype" name="edit_ttype">
										<option>Node Training</option>
										<option>Swift Training</option>
										<option>Git Training</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Trainer</label>
									<select class="form-select" id="edit_trainer" name="edit_trainer">
										<option>Mike Litorus </option>
										<option selected>John Doe</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Employees</label>
									<select class="form-select" id="edit_emp" name="edit_emp">
										<option>Bernardo Galaviz</option>
										<option selected>Jeffrey Warden</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Training Cost <span
											class="text-danger">*</span></label>
									<input class="form-control" type="text" id="edit_tcost" name="edit_tcost"
										pattern="[0-9]+" title="Please enter only numeric values">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" id="edit_startdate"
											name="edit_startdate" type="text"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" id="edit_enddate"
											name="edit_enddate" type="text"></div>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" rows="4" id="edit_description"
										name="edit_description"></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="edit_status" name="edit_status">
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Training List Modal -->

	<!-- Delete Training List Modal -->
	<div class="modal custom-modal fade" id="delete_training" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Training List</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_pop_deduction" id="delete_pop_deduction" type="hidden">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn"
									onclick="conform_delete_deduction($('#delete_pop_deduction').val())">Delete</a>
								<!-- <a href="javascript:void(0);" data-bs-dismiss="modal" id="delete_data" class="btn btn-primary continue-btn" onclick="conform_delete($('#delete_data').val())">Delete</a> -->
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Training List Modal -->

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}