{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Tickets</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Tickets</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_ticket"><i
							class="fa-solid fa-plus"></i> Add Ticket</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div class="card-group m-b-30">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between mb-3">
								<div>
									<span class="d-block">New Tickets</span>
								</div>
								<div>
									<span class="text-success">+10%</span>
								</div>
							</div>
							<h3 class="mb-3">112</h3>
							<div class="progress height-five mb-2">
								<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between mb-3">
								<div>
									<span class="d-block">Solved Tickets</span>
								</div>
								<div>
									<span class="text-success">+12.5%</span>
								</div>
							</div>
							<h3 class="mb-3">70</h3>
							<div class="progress height-five mb-2">
								<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between mb-3">
								<div>
									<span class="d-block">Open Tickets</span>
								</div>
								<div>
									<span class="text-danger">-2.8%</span>
								</div>
							</div>
							<h3 class="mb-3">100</h3>
							<div class="progress height-five mb-2">
								<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between mb-3">
								<div>
									<span class="d-block">Pending Tickets</span>
								</div>
								<div>
									<span class="text-danger">-75%</span>
								</div>
							</div>
							<h3 class="mb-3">125</h3>
							<div class="progress height-five mb-2">
								<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Search Filter -->
		<div class="row filter-row">
			<div class="col-sm-4 col-md-2">
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating search_by_ticket_employee" >
					<label class="focus-label">Employee Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
				<div class="input-block mb-3 form-focus select-focus">
					<select class="select floating"> 
						<option> -- Select -- </option>
						<option> Pending </option>
						<option> Approved </option>
						<option> Returned </option>
					</select>
					<label class="focus-label">Status</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
				<div class="input-block mb-3 form-focus select-focus">
					<select class="select floating"> 
						<option> -- Select -- </option>
						<option> High </option>
						<option> Low </option>
						<option> Medium </option>
					</select>
					<label class="focus-label">Priority</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
				<div class="input-block mb-3 form-focus">
					<div class="cal-icon">
						<input class="form-control floating datetimepicker" type="text">
					</div>
					<label class="focus-label">From</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
				<div class="input-block mb-3 form-focus">
					<div class="cal-icon">
						<input class="form-control floating datetimepicker" type="text">
					</div>
					<label class="focus-label">To</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
				<a href="#" class="btn btn-success w-100"> Search </a>
			</div>
		</div>
		<!-- /Search Filter -->
		<script>
			$('.search_by_ticket_employee').on('keyup',function(){
				let all_data = $(this).val()
				console.log(all_data)
				$.get('/HrmTool/Employee/ticket_emp_search/'+all_data,function(res){
					console.log(res)
				})
			})
		</script>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Ticket Id</th>
								<th>Ticket Subject</th>
								<th>Assigned Staff</th>
								<th>Created Date</th>
								<th>Last Reply</th>
								<th>Priority</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody id="searching_result">
							{% for i in emp %}
							<tr>
								<td>{{i.id}}</td>
								<td><a href="ticket-view.html">#{{i.Ticket_Id}}</a></td>
								<td>{{i.Ticket_Subject}}</td>
								<td>
									<h4>{{employeeData}}</h4>
									{% for j in employee_data %}
										{% if i.Assign_id |int == j.id|int %}
										<h2 class="table-avatar">
												<a class="avatar avatar-xs" href="profile.html"><img src="/templates/assets/uploaded_files/{{j.Photo}}" alt="User Image"></a>
												<a href="#">{{j.First_Name}} {{j.Last_Name}}</a>
											</h2>
										{% endif %}
									{% endfor %}
								</td>
								<td>{{i.created_at.strftime('%d %b %Y')}}</td>
								{% if i.updated_at.__class__ == 'datetime.datetime' %}
								{# Do something if i.updated_at is a datetime object #}
								{{i.upated_at.strftime('%d %b %Y')}}
								{% else %}
								{# Do something else if i.updated_at is not a datetime object #}
								<td>{{i.updated_at}}</td>
								{% endif %}
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-bs-toggle="dropdown" aria-expanded="false"><i
												class="fa-regular fa-circle-dot text-danger"></i> High </a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-danger"></i> High</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-warning"></i> Medium</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-success"></i> Low</a>
										</div>
									</div>
								</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa-regular fa-circle-dot text-danger"></i> New
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-info"></i> Open</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-info"></i> Reopened</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-danger"></i> On Hold</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-success"></i> Closed</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-success"></i> In Progress</a>
											<a class="dropdown-item" href="#"><i
													class="fa-regular fa-circle-dot text-danger"></i> Cancelled</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_ticket"
												onclick="taking_this_id_addition('{{i.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_ticket"
												onclick="taking_dlt_addition('{{i.id}}')"><i
													class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->


	<script>
		function taking_dlt_addition(data) {
			$('#delete_pop_deduction').val(data)
		}

		function conform_delete_addition(data) {
			$.get('/HrmTool/Employee/del_tickets/' + data, function (res) {
				location.reload()
			})
		}

		function taking_this_id_addition(data) {
			$.get('/HrmTool/Employee/ticket_edit_id/' + data, function (res) {
				console.log(res)
				$('#edit_idz').val(res[0].id)
				$('#eticketsubject').val(res[0].Ticket_Subject)
				$('#eticketid').val(res[0].Ticket_Id)
				$('#eassignstaff').val(res[0].Employee_id)
				$('#eclient').val(res[0].Client_id)
				$('#epriority').val(res[0].Priority)
				$('#ecc').val(res[0].CC)
				$('#eassign').val(res[0].Assign_id)
				$('#eaddfollowers').val(res[0].Addfollowers)
				$('#edescription').val(res[0].Description)
				$('#editdisplay_pdf').attr('data','/templates/assets/uploaded_files/'+res[0].Files)
				for(let i=0;i<res[1].length;i++){
					if(res[0].Assign_id == res[1][i].id){
						$("#editAssignee").attr('src','/templates/assets/uploaded_files/'+res[1][i].Photo)
					}
				}
			}
			)
		}
	</script>

	<!-- Add Ticket Modal -->
	<div id="add_ticket" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Ticket</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form action="" enctype="multipart/form-data" method="POST">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Subject</label>
									<input class="form-control" type="text" id="aticketsubject" name="aticketsubject" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Id</label>
									<input class="form-control" type="text" id="aticketid" name="aticketid" value="{{gen_id}}" readonly required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Assign Staff</label>
									<input id="aassignstaff" name="aassignstaff" class="form-control" value="{{emp_data.First_Name}} {{emp_data.Last_Name}}" required readonly/>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Client</label>
									<select class="form-select" id="aclient" name="aclient" required>
										<option selected disabled>-select</option>
										{% for i in client_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Priority</label>
									<select class="form-select" id="apriority" name="apriority" required>
										<option selected disabled>-Select</option>
										<option value="High">High</option>
										<option value="Medium">Medium</option>
										<option value="Low">Low</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">CC</label>
									<input class="form-control" type="text" id="acc" name="acc" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Assign</label>
									<select class="form-select" id="aassign" name="aassign"
										onchange="getId(this)" required>
										<option selected disabled>-Select</option>
										{% for i in employee_data%}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Assignee</label>
									<div class="project-members">
										<a data-placement="top" data-bs-toggle="tooltip" href="#" class="avatar">
											<img src="/templates/assets/img/profile1.png" alt="User Image"
												id="taskAssignee" required>
										</a>
									</div>
								</div>
							</div>
						</div>
						<script>
							function getId(data) {
								$.get('/HrmTool/Employee/assigni_id/' + data.value, function (res) { $('#taskAssignee').attr('src', '/templates/assets/uploaded_files/' + res.Photo) })
							}
						</script>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Add Followers</label>
									<select class="selectpicker" multiple data-live-search="true"  id="aaddfollowers" name="aaddfollowers" onchange="follower_id($(this).val())" required>
										<option selected disabled>-select</option>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Followers</label>
									<div class="project-members followers_section">
										<a title="Richard Miles" data-bs-toggle="tooltip" href="#" class="avatar"><img src="/templates/assets/img/profile1.png" id="followers_1" alt="User Image"></a>
									</div>
								</div>
							</div>
						</div>
						<script>
							function follower_id(data){
								const formData = new FormData()
								formData.append('Followers',data)

								fetch(`/HrmTool/Employee/ticket_followers_data`,{method:'post',body:formData})
								.then(res=>res.json())
								.then(res=>{
									$('.followers_section').html(function(){
										let txt = ``;
										for(let i=0;i<res.Result.length;i++){
											txt+=`<a title="${res.Result[i].First_Name} ${res.Result[i].Last_Name}" data-bs-toggle="tooltip" href="#" class="avatar"><img src="/templates/assets/uploaded_files/${res.Result[i].Photo}" id="followers_1" alt="User Image"></a>`
										}
										return txt;
									})
								})
							}
						</script>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" id="adescription" name="adescription" placeholder="Enter 255 Character's" required></textarea>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Upload Files</label>
									<input class="form-control" type="file" id="auploadfiles" name="auploadfiles" accept="application/pdf"
										oninput="display_pdf.data = window.URL.createObjectURL(this.files[0]); display_pdf.style.display = 'block';">
									<br>
									<object id="display_pdf" data="/templates/assets/img/test.pdf" width="700" height="300" style="display: none;"></object>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" type="submit" onclick="add_tickets()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Ticket Modal -->
	<script>
		function add_tickets(){
			let Subject =$('#aticketsubject').val();
			let Ticket_Id =$('#aticketid').val();
			let Client =$('#aclient').val();
			let Priority =$('#apriority').val();
			let CC =$('#acc').val();
			let Assign =$('#aassign').val();
			let Followers =$('#aaddfollowers').val();
			let Description =$('#adescription').val();
			let Files = Image_process();

			function Image_process(){let img = $('#auploadfiles')[0].files[0];if(img){return img}else{return 'None'}}
			
			if(Subject===''||Subject===null){$('#aticketsubject').css('border-color','#ff0000')}else{$('#aticketsubject').css('border-color','#00ff00')}
			if(Ticket_Id===''||Ticket_Id===null){$('#aticketid').css('border-color','#ff0000')}else{$('#aticketid').css('border-color','#00ff00')}
			if(Client===''||Client===null){$('#aclient').css('border-color','#ff0000')}else{$('#aclient').css('border-color','#00ff00')}
			if(Priority===''||Priority===null){$('#apriority').css('border-color','#ff0000')}else{$('#apriority').css('border-color','#00ff00')}
			if(CC===''||CC===null){$('#acc').css('border-color','#ff0000')}else{$('#acc').css('border-color','#00ff00')}
			if(Assign===''||Assign===null){$('#aassign').css('border-color','#ff0000')}else{$('#aassign').css('border-color','#00ff00')}
			if(Followers==[]||Followers===null){$('#aaddfollowers').css('border-color','#ff0000')}else{$('#aaddfollowers').css('border-color','#00ff00')}
			if(Description===''||Description===null){$('#adescription').css('border-color','#ff0000')}else{$('#adescription').css('border-color','#00ff00')}
			if(Files==='None'||Files===undefined){$('#auploadfiles').css('border-color','#ff0000')}else{$('#auploadfiles').css('border-color','#00ff00')}

			if(Subject!==null && Ticket_Id!==null && Client!==null && Priority!==null && CC!==null && Assign!==null && Followers!=[] && Description!==null && Files!=='None'){

				const formData = new FormData();
				formData.append('aticketsubject',Subject)
				formData.append('aticketid',Ticket_Id)
				formData.append('aclient',Client)
				formData.append('apriority',Priority)
				formData.append('acc',CC)
				formData.append('aassign',Assign)
				formData.append('adescription',Description)
				formData.append('aaddfollowers',Followers)
				formData.append('auploadfiles',Files)

				fetch(`/HrmTool/Employee/add_ticket`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 329px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 349px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Edit Ticket Modal -->
	<div id="edit_ticket" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Ticket</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/HrmTool/Employee/edit_tickets" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<input id="edit_idz" name="edit_id" type="hidden" >
									<label class="col-form-label">Ticket Subject</label>
									<input class="form-control" type="text" value="Laptop Issue" id="eticketsubject" name="eticketsubject">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Id</label>
									<input class="form-control" type="text" id="eticketid" name="eticketid" readonly>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Assign Staff</label>
									<select class="form-select" id="eassignstaff" name="eassignstaff"
										onchange="getId(event,value)">
										<option>--Select--</option>
										{% for i in employee_data%}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Client</label>
									<select class="form-select" id="eclient" name="eclient">
										<option>--Select--</option>
										{% for i in client_data %}
										<option value="{{i.id}}">{{i.First_Name }} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Priority</label>
									<select class="form-select" id="epriority" name="epriority">
										<option>High</option>
										<option selected>Medium</option>
										<option>Low</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">CC</label>
									<input class="form-control" type="text" id="ecc" name="ecc">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Assign</label>
									<!-- <input type="text" class="form-control" id="eassign" name="eassign"> -->
									<select class="form-select" id="eassign" name="eassign" onchange="edit_ticket_head(this)">
										<option>--Select--</option>
										{% for i in employee_data%}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Assignee</label>
									<div class="project-members">
										<a  data-placement="top" data-bs-toggle="tooltip" href="#"
											class="avatar">
											<img src="/templates/assets/img/profiles/avatar-02.jpg" alt="User Image"
												id="editAssignee" name="editAssignee">
										</a>
									</div>
								</div>
							</div>
						</div>
						<script>
							function edit_ticket_head(data){
								$.get('/HrmTool/Employee/assigni_id/' + data.value, function (res) { $('#editAssignee').attr('src', '/templates/assets/uploaded_files/' + res.Photo) })
							}
						</script>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Add Followers</label>
									<select class="form-select" id="eaddfollowers" name="eaddfollowers">
										<option>--Select--</option>
										{% for i in employee_data%}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Ticket Followers</label>
									<div class="project-members">
										<a title="Richard Miles" data-bs-toggle="tooltip" href="#" class="avatar">
											<img src="/templates/assets/img/profiles/avatar-09.jpg" alt="User Image">
										</a>
										<!-- <a title="John Smith" data-bs-toggle="tooltip" href="#" class="avatar">
											<img src="/templates/assets/img/profiles/avatar-10.jpg" alt="User Image">
										</a>
										<a title="Mike Litorus" data-bs-toggle="tooltip" href="#" class="avatar">
											<img src="/templates/assets/img/profiles/avatar-05.jpg" alt="User Image">
										</a>
										<a title="Wilmer Deluna" data-bs-toggle="tooltip" href="#" class="avatar">
											<img src="/templates/assets/img/profiles/avatar-11.jpg" alt="User Image">
										</a>
										<span class="all-team">+2</span> -->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" id="edescription" name="edescription"></textarea>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Upload Files</label>
									<input class="form-control" type="file" id="euploadfiles" name="euploadfiles" accept="application/pdf" oninput="editdisplay_pdf.data=window.URL.createObjectURL(this.files[0])">
									<br>
									<br>
									<br>
									<object id="editdisplay_pdf" data="/templates/assets/uploaded_files/" width="700" height="300" ></object>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Ticket Modal -->

	<!-- Delete Ticket Modal -->
	<div class="modal custom-modal fade" id="delete_ticket" role="dialog">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Ticket</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input  id="delete_pop_deduction" type="hidden">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary continue-btn"
									onclick="conform_delete_addition($('#delete_pop_deduction').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Ticket Modal -->


</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}