{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Termination</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Termination</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="/HrmTool/termination/termination_type" class="btn add-btn"><i class="fa-solid fa-plus"></i> Termination Type</a>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_termination"><i class="fa-solid fa-plus"></i> Add Termination</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Terminated Employee </th>
								<th>Department</th>
								<th>Termination Type </th>
								<th>Termination Date </th>
								<th>Reason</th>
								<th>Notice Date </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in termination_data %}
							<tr>
								<td>{{loop.index}}</td>
								{% for j in employee_datas %}
								{% if i.Employee_id|int == j.id|int %}
									<td>
										<h2 class="table-avatar blue-link">
											<a href="/HrmTool/Employee/emplyee_profile/{{j.id}}" class="avatar"><img src="/templates/assets/uploaded_files/{{j.Photo}}" alt="User Image"></a>
											<a href="/HrmTool/Employee/emplyee_profile/{{j.id}}">{{j.First_Name}} {{j.Last_Name}}</a>
										</h2>
									</td>

									{% for k in department_data %}
									{% if j.Department_id|int == k.id|int %}
									<td>{{k.Name}}</td>
									{% endif %}
									{% endfor %}

								{% endif %}
								{% endfor %}

								{% for x in termination_type_data %}
								{% if i.Termination_Type_id|int == x.id|int %}
								<td>{{x.Name}}</td>
								{% endif %}
								{% endfor %}

								<td class="dateformate">{{i.Date}}</td>
								<td>{{i.Reason[:10:]}}...</td>
								<td class="dateformate">{{i.Notice_Date}}</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_termination" onclick="edit_termination_id('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_termination" onclick="delete_termination_id('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Termination Modal -->
	<div id="add_termination" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Termination</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<label class="col-form-label">Terminated Employee <span class="text-danger">*</span></label>
							<select class="form-select" id="employee_id" name="employee_id" required >
								<option selected disabled>-select</option>
								{% for i in employee_datas %}
								<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Termination Type <span class="text-danger">*</span></label>
							<div class="add-group-btn">
								<select class="form-select" id="term_type" name="term_type" required>
									<option selected disabled>-select</option>
									{% for j in termination_type_data %}
									<option value="{{j.id}}">{{j.Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Termination Date <span class="text-danger">*</span></label>
							<div class="cal-icon">
								<input type="text" class="form-control datetimepicker" id="term_date" name="term_date" required>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Reason <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="4" placeholder="Enter 255 Character" id="term_res" name="term_res" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Notice Date <span class="text-danger">*</span></label>
							<div class="cal-icon">
								<input type="text" class="form-control datetimepicker" id="notice_date" name="notice_date" required>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_termination()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Termination Modal -->
	<script>
		function add_termination(){
			let Employee = $('#employee_id').val();
			let Type = $('#term_type').val();
			let T_Date = $('#term_date').val();
			let Reason = $('#term_res').val();
			let Notice = $('#notice_date').val();

			if(Employee===''||Employee===null){$('#employee_id').css('border-color','#ff6666')}else{$('#employee_id').css('border-color','#00ff00')}
			if(Type===''||Type===null){$('#term_type').css('border-color','#ff6666')}else{$('#term_type').css('border-color','#00ff00')}
			if(T_Date===''||T_Date===null){$('#term_date').css('border-color','#ff6666')}else{$('#term_date').css('border-color','#00ff00')}
			if(Reason===''||Reason===null){$('#term_res').css('border-color','#ff6666')}else{$('#term_res').css('border-color','#00ff00')}
			if(Notice===''||Notice===null){$('#notice_date').css('border-color','#ff6666')}else{$('#notice_date').css('border-color','#00ff00')}

			if(Employee!==null && Type!==null && T_Date!==null && Reason!==null && Notice!==null){

				const formData = new FormData();
				formData.append('employee_id',Employee)
				formData.append('term_type',Type)
				formData.append('term_date',T_Date)
				formData.append('term_res',Reason)
				formData.append('notice_date',Notice)

				fetch(`/HrmTool/termination/termination`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('#add_error').html(`<h5 class="text-danger" style="padding-left: 182px;">Already Data Entered</h5>`)
					}else{
						$('#add_error').html(`<h5 class="text-danger" style="padding-left: 182px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Edit Termination Modal -->
	<div id="edit_termination" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Termination</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden" />
						<div class="input-block mb-3">
							<label class="col-form-label">Terminated Employee <span class="text-danger">*</span></label>
							<select class="form-select" id="editemployee_id" name="editemployee_id" required >
								{% for i in employee_datas %}
								<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Termination Type <span class="text-danger">*</span></label>
							<div class="add-group-btn">
								<select class="form-select" id="editterm_type" name="editterm_type" required>
									<option selected disabled>-select</option>
									{% for j in termination_type_data %}
									<option value="{{j.id}}">{{j.Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Termination Date <span class="text-danger">*</span></label>
							<div class="cal-icon">
								<input type="text" class="form-control datetimepicker" id="editterm_date" name="editterm_date" required>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Reason <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="4" placeholder="Enter 255 Character" id="editterm_res" name="editterm_res" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Notice Date <span class="text-danger">*</span></label>
							<div class="cal-icon">
								<input type="text" class="form-control datetimepicker" id="editnotice_date" name="editnotice_date" required>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_termination()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Termination Modal -->
	<script>

		function edit_termination_id(data){
			fetch(`/HrmTool/termination/termination_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#editemployee_id').val(res.Result.Employee_id)
				$('#editterm_type').val(res.Result.Termination_Type_id)
				$('#editterm_date').val(res.Result.Date)
				$('#editterm_res').val(res.Result.Reason)
				$('#editnotice_date').val(res.Result.Notice_Date)
			})
		}


		function edit_termination(){
			let Edit_id = $('#edit_idz').val();
			let Employee = $('#editemployee_id').val();
			let Type = $('#editterm_type').val();
			let T_Date = $('#editterm_date').val();
			let Reason = $('#editterm_res').val();
			let Notice = $('#editnotice_date').val();

			if(Employee===''||Employee===null){$('#editemployee_id').css('border-color','#ff6666')}else{$('#editemployee_id').css('border-color','#00ff00')}
			if(Type===''||Type===null){$('#editterm_type').css('border-color','#ff6666')}else{$('#editterm_type').css('border-color','#00ff00')}
			if(T_Date===''||T_Date===null){$('#editterm_date').css('border-color','#ff6666')}else{$('#editterm_date').css('border-color','#00ff00')}
			if(Reason===''||Reason===null){$('#editterm_res').css('border-color','#ff6666')}else{$('#editterm_res').css('border-color','#00ff00')}
			if(Notice===''||Notice===null){$('#editnotice_date').css('border-color','#ff6666')}else{$('#editnotice_date').css('border-color','#00ff00')}

			if(Employee!==null && Type!==null && T_Date!==null && Reason!==null && Notice!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_id)
				formData.append('editemployee_id',Employee)
				formData.append('editterm_type',Type)
				formData.append('editterm_date',T_Date)
				formData.append('editterm_res',Reason)
				formData.append('editnotice_date',Notice)

				fetch(`/HrmTool/termination/termination_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 182px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 182px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Delete Termination Modal -->
	<div class="modal custom-modal fade" id="delete_termination" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Termination</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<input id="del_id" name="del_id" type="hidden"/>
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_del($('#del_id').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Termination Modal -->
	<script>
		function delete_termination_id(data){
			$('#del_id').val(data)
		}

		function conform_del(ids){
			fetch(`/HrmTool/termination/del_termination/${ids}`)
			.then(location.reload())
		}

	</script>

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}