{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Performance Appraisal</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Performance</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_appraisal"><i
							class="fa-solid fa-plus"></i> Add New</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Employee</th>
								<th>Designation</th>
								<th>Department</th>
								<th>Appraisal Date</th>
								<th>Status</th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for app in appraisal_data %}
							<tr>
								<td>{{loop.index}}</td>
								{% for emp in employee_data %}
								{% if app.Employee_id |int == emp.id|int %}
								<td>
									<h2 class="table-avatar">
										<a target="_blank" href="/templates/assets/uploaded_files/{{emp.Photo}}" class="avatar"><img src="/templates/assets/uploaded_files/{{emp.Photo}}" alt="User Image"></a>
										<a href="/HrmTool/Employee/emplyee_profile/{{emp.id}}">{{emp.First_Name}} {{emp.Last_Name}} </a>
									</h2>
								</td>
								{% for des in designation_data %}
								{% if emp.Designation_id|int == des.id|int %}
								<td>{{des.Name}} </td>
								{% endif %}
								{% endfor %}
								{% for dep in department_data %}
								{% if emp.Department_id|int == dep.id|int %}
								<td>{{dep.Name}}</td>
								{% endif %}
								{% endfor %}

								{% endif %}
								{% endfor %}

								<td class="dateformate">{{app.Date}}</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-bs-toggle="dropdown" aria-expanded="false">
											{% if app.Current_status=='Active'%}
											<i class="fa-regular fa-circle-dot text-success"></i> Active
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> Inactive
											{% endif %}											
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{app.id}}','Active')"><i
													class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{app.id}}','Inactive')"><i
													class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false" ><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_appraisal" onclick="taking_edit_appraisal('{{app.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_appraisal" onclick="taking_delete_appraisal('{{app.id}}')"><i
													class="fa-regular fa-trash-can m-r-5" ></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/performance_appraisal_status/${ids}/${info}`)
			.then(location.reload())
		}
	</script>

	<!-- Add Performance Appraisal Modal -->
	<div id="add_appraisal" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Give Performance Appraisal</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Employee</label>
									<select class="form-select" id="emp_id" name="emp_id" required onchange="Choose_emp_desig($(this).val())">
										<option selected disabled>-select</option>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Select Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text"
											id="date" name="date" required></div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="card">
									<div class="card-body">
										<div class="tab-box">
											<div class="row user-tabs">
												<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
													<ul class="nav nav-tabs nav-tabs-solid">
														<li class="nav-item"><a href="#appr_technical"
																data-bs-toggle="tab"
																class="nav-link active">Technical</a></li>
														<li class="nav-item"><a href="#appr_organizational"
																data-bs-toggle="tab" class="nav-link">Organizational</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="tab-content">
											<div id="appr_technical" class="pro-overview tab-pane fade show active">
												<div class="row">
													<div class="col-sm-12">
														<div class="bg-white">
															<table class="table">
																<thead>
																	<tr>
																		<th>Technical Competencies</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th colspan="2">Indicator</th>
																		<th colspan="2">Expected Value</th>
																		<th>Set Value</th>
																	</tr>
																	<tr>
																		<td colspan="2">Customer Experience</td>
																		<td colspan="2" id="formA_experience">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_exp" name="emp_exp" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Marketing</td>
																		<td colspan="2" id="formA_mark">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_mark" name="emp_mark" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Management</td>
																		<td colspan="2" id="formA_manage">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_manag" name="emp_manag" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Administration</td>
																		<td colspan="2"  id="formA_admin">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_admin" name="emp_admin" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Presentation Skill</td>
																		<td colspan="2" id="formA_skill">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_skill" name="emp_skill" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Quality Of Work</td>
																		<td colspan="2" id="formA_work">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_work" name="emp_work" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Efficiency</td>
																		<td colspan="2" id="formA_efficy">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_efficy" name="emp_efficy" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="appr_organizational">
												<div class="row">
													<div class="col-sm-12">
														<div class="bg-white">
															<table class="table">
																<thead>
																	<tr>
																		<th>Organizational Competencies</th>
																		<th></th>
																		<th></th>
																		<th></th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th colspan="2">Indicator</th>
																		<th colspan="2">Expected Value</th>
																		<th>Set Value</th>
																	</tr>
																	<tr>
																		<td colspan="2">Integrity</td>
																		<td colspan="2" id="formA_integ">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_integ" name="emp_integ" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Professionalism</td>
																		<td colspan="2" id="formA_profess">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_profes" name="emp_profes" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Team Work</td>
																		<td colspan="2" id="formA_team">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_team" name="emp_team" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Critical Thinking</td>
																		<td colspan="2" id="formA_think">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_think" name="emp_think" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Conflict Management</td>
																		<td colspan="2" id="formA_c_manage">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_c_mange" name="emp_c_mange" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Attendance</td>
																		<td colspan="2" id="formA_attend">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_attend" name="emp_attend" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Ability To Meet Deadline</td>
																		<td colspan="2" id="formA_deadline">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="emp_dead" name="emp_dead" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="c_status" name="c_status" required>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>

						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_appraisal()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Performance Appraisal Modal -->
	<script>
		function Choose_emp_desig(data){
			fetch(`/HrmTool/Performance/performance_appraisal_employee/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res.Result.Team_Work)
				$('#formA_experience').html(res.Result.Customer_Experience)
				$('#formA_mark').html(res.Result.Marketing)
				$('#formA_manage').html(res.Result.Management)
				$('#formA_admin').html(res.Result.Administration)
				$('#formA_skill').html(res.Result.Presentation_Skill)
				$('#formA_work').html(res.Result.Quality_Of_Work)
				$('#formA_efficy').html(res.Result.Efficiency)
				$('#formA_integ').html(res.Result.Integrity)
				$('#formA_profess').html(res.Result.Professionalism)
				$('#formA_team').html(res.Result.Team_Work)
				$('#formA_think').html(res.Result.Critical_Thinking)
				$('#formA_c_manage').html(res.Result.Conflict_Management)
				$('#formA_attend').html(res.Result.Attendance)
				$('#formA_deadline').html(res.Result.Meet_Deadline)
			})
		}

		function add_appraisal(){
			let Employee =$('#emp_id').val();
			let Date =$('#date').val();
			let Experience =$('#emp_exp').val();
			let Marketing =$('#emp_mark').val();
			let Management =$('#emp_manag').val();
			let Administ =$('#emp_admin').val();
			let Skill =$('#emp_skill').val();
			let Work =$('#emp_work').val();
			let Efficiency =$('#emp_efficy').val();
			let Integrity =$('#emp_integ').val();
			let Profession =$('#emp_profes').val();
			let Team =$('#emp_team').val();
			let Thinking =$('#emp_think').val();
			let C_Management =$('#emp_c_mange').val();
			let Attendance =$('#emp_attend').val();
			let Deadline =$('#emp_dead').val();
			let Status =$('#c_status').val();

			if(Employee==''||Employee==null){$('#emp_id').css('border-color','#ff0000')}else{$('#emp_id').css('border-color','#00ff00')}
			if(Date==''||Date==null){$('#date').css('border-color','#ff0000')}else{$('#date').css('border-color','#00ff00')}
			if(Experience==''||Experience==null){$('#emp_exp').css('border-color','#ff0000')}else{$('#emp_exp').css('border-color','#00ff00')}
			if(Marketing==''||Marketing==null){$('#emp_mark').css('border-color','#ff0000')}else{$('#emp_mark').css('border-color','#00ff00')}
			if(Management==''||Management==null){$('#emp_manag').css('border-color','#ff0000')}else{$('#emp_manag').css('border-color','#00ff00')}
			if(Administ==''||Administ==null){$('#emp_admin').css('border-color','#ff0000')}else{$('#emp_admin').css('border-color','#00ff00')}
			if(Skill==''||Skill==null){$('#emp_skill').css('border-color','#ff0000')}else{$('#emp_skill').css('border-color','#00ff00')}
			if(Work==''||Work==null){$('#emp_work').css('border-color','#ff0000')}else{$('#emp_work').css('border-color','#00ff00')}
			if(Efficiency==''||Efficiency==null){$('#emp_efficy').css('border-color','#ff0000')}else{$('#emp_efficy').css('border-color','#00ff00')}
			if(Integrity==''||Integrity==null){$('#emp_integ').css('border-color','#ff0000')}else{$('#emp_integ').css('border-color','#00ff00')}
			if(Profession==''||Profession==null){$('#emp_profes').css('border-color','#ff0000')}else{$('#emp_profes').css('border-color','#00ff00')}
			if(Team==''||Team==null){$('#emp_team').css('border-color','#ff0000')}else{$('#emp_team').css('border-color','#00ff00')}
			if(Thinking==''||Thinking==null){$('#emp_think').css('border-color','#ff0000')}else{$('#emp_think').css('border-color','#00ff00')}
			if(C_Management==''||C_Management==null){$('#emp_c_mange').css('border-color','#ff0000')}else{$('#emp_c_mange').css('border-color','#00ff00')}
			if(Attendance==''||Attendance==null){$('#emp_attend').css('border-color','#ff0000')}else{$('#emp_attend').css('border-color','#00ff00')}
			if(Deadline==''||Deadline==null){$('#emp_dead').css('border-color','#ff0000')}else{$('#emp_dead').css('border-color','#00ff00')}
			if(Status==''||Experience==null){$('#c_status').css('border-color','#ff0000')}else{$('#c_status').css('border-color','#00ff00')}

			if(Employee!==null && Date!==null && Experience!==null && Marketing!==null && Management!==null && Administ!==null && Skill!==null && Work!==null && Employee!==null && Efficiency!==null && Integrity!==null && Profession!==null && Team!==null && Thinking!==null && C_Management!==null && Attendance!==null && Deadline!==null && Status!==null){

				const formData = new FormData();
				formData.append('emp_id',Employee)
				formData.append('date',Date)
				formData.append('emp_exp',Experience)
				formData.append('emp_mark',Marketing)
				formData.append('emp_manag',Management)
				formData.append('emp_admin',Administ)
				formData.append('emp_skill',Skill)
				formData.append('emp_work',Work)
				formData.append('emp_efficy',Efficiency)
				formData.append('emp_integ',Integrity)
				formData.append('emp_profes',Profession)
				formData.append('emp_team',Team)
				formData.append('emp_think',Thinking)
				formData.append('emp_c_mange',C_Management)
				formData.append('emp_attend',Attendance)
				formData.append('emp_dead',Deadline)
				formData.append('c_status',Status)

				fetch(`/HrmTool/Performance/performance_appraisal`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 325px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 345px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>

	<!-- Edit Performance Appraisal Modal -->
	<div id="edit_appraisal" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Performance Appraisal</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden"/>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Employee</label>
									<select class="form-select" id="eemp_id" name="eemp_id" required onchange="Choose_emp_desig_edit($(this).val())">
										<option selected disabled>-select</option>
										{% for i in employee_data %}
										<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Select Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text"
										id="edate" name="edate" required></div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="card">
									<div class="card-body">
										<div class="tab-box">
											<div class="row user-tabs">
												<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
													<ul class="nav nav-tabs nav-tabs-solid">
														<li class="nav-item"><a href="#appr_technical1" data-bs-toggle="tab" class="nav-link active">Technical</a></li>
														<li class="nav-item"><a href="#appr_organizational1" data-bs-toggle="tab" class="nav-link">Organizational</a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="tab-content">
											<div id="appr_technical1" class="pro-overview tab-pane fade show active">
												<div class="row">
													<div class="col-sm-12">
														<div class="bg-white">
															<table class="table">
																<thead>
																	<tr>
																		<th>Technical Competencies</th>
																		<th></th>
																		<th></th>
																		<th></th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th colspan="2">Indicator</th>
																		<th colspan="2">Expected Value</th>
																		<th>Set Value</th>
																	</tr>
																	<tr>
																		<td colspan="2">Customer Experience</td>
																		<td colspan="2" id="formE_experience">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_exp" name="eemp_exp" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Marketing</td>
																		<td colspan="2" id="formE_mark">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_mark" name="eemp_mark" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Management</td>
																		<td colspan="2" id="formE_manage">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_manag" name="eemp_manag" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Administration</td>
																		<td colspan="2"  id="formE_admin">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_admin" name="eemp_admin" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Presentation Skill</td>
																		<td colspan="2" id="formE_skill">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_skill" name="eemp_skill" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Quality Of Work</td>
																		<td colspan="2" id="formE_work">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_work" name="eemp_work" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Efficiency</td>
																		<td colspan="2" id="formE_efficy">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_efficy" name="eemp_efficy" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="appr_organizational1">
												<div class="row">
													<div class="col-sm-12">
														<div class="bg-white">
															<table class="table">
																<thead>
																	<tr>
																		<th>Organizational Competencies</th>
																		<th></th>
																		<th></th>
																		<th></th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th colspan="2">Indicator</th>
																		<th colspan="2">Expected Value</th>
																		<th>Set Value</th>
																	</tr>
																	<tr>
																		<td colspan="2">Integrity</td>
																		<td colspan="2" id="formE_integ">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_integ" name="eemp_integ" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Professionalism</td>
																		<td colspan="2" id="formE_profess">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_profes" name="eemp_profes" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Team Work</td>
																		<td colspan="2" id="formE_team">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_team" name="eemp_team" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Critical Thinking</td>
																		<td colspan="2" id="formE_think">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_think" name="eemp_think" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Conflict Management</td>
																		<td colspan="2" id="formE_c_manage">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_c_mange" name="eemp_c_mange" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Attendance</td>
																		<td colspan="2" id="formE_attend">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_attend" name="eemp_attend" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Ability To Meet Deadline</td>
																		<td colspan="2" id="formE_deadline">Choose Employee</td>
																		<td>
																			<select name="customer_experience" class="form-control form-select" id="eemp_dead" name="eemp_dead" required>
																				<option selected disabled>None</option>
																				<option value="Beginner"> Beginner</option>
																				<option value="Intermediate"> Intermediate</option>
																				<option value="Advanced"> Advanced</option>
																				<option value="Expert"> Expert </option>
																			</select>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="ec_status" name="ec_status" required>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_appraisal()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Performance Appraisal Modal -->

	<script>
		function taking_edit_appraisal(data){
			fetch(`/HrmTool/Performance/performance_appraisal_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#eemp_id').val(res.Result.Employee_id)
				$('#edate').val(res.Result.Date)
				//Indicator Data 
				$('#formE_experience').html(res.indicator.Customer_Experience)
				$('#formE_mark').html(res.indicator.Marketing)
				$('#formE_manage').html(res.indicator.Management)
				$('#formE_admin').html(res.indicator.Administration)
				$('#formE_skill').html(res.indicator.Presentation_Skill)
				$('#formE_work').html(res.indicator.Quality_Of_Work)
				$('#formE_efficy').html(res.indicator.Efficiency)
				$('#formE_integ').html(res.indicator.Integrity)
				$('#formE_profess').html(res.indicator.Professionalism)
				$('#formE_team').html(res.indicator.Team_Work)
				$('#formE_think').html(res.indicator.Critical_Thinking)
				$('#formE_c_manage').html(res.indicator.Conflict_Management)
				$('#formE_attend').html(res.indicator.Attendance)
				$('#formE_deadline').html(res.indicator.Meet_Deadline)
				//Appraisal data 
				$('#eemp_exp').val(res.Result.Customer_Experience_Value)
				$('#eemp_mark').val(res.Result.Marketing_Value)
				$('#eemp_manag').val(res.Result.Management_Value)
				$('#eemp_admin').val(res.Result.Administration_Value)
				$('#eemp_skill').val(res.Result.Presentation_Skill_Value)
				$('#eemp_work').val(res.Result.Quality_Of_Work_Value)
				$('#eemp_efficy').val(res.Result.Efficiency_Value)
				$('#eemp_integ').val(res.Result.Integrity_Value)
				$('#eemp_profes').val(res.Result.Professionalism_Value)
				$('#eemp_team').val(res.Result.Team_Work_Value)
				$('#eemp_think').val(res.Result.Critical_Thinking_Value)
				$('#eemp_c_mange').val(res.Result.Conflict_Management_Value)
				$('#eemp_attend').val(res.Result.Attendance_Value)
				$('#eemp_dead').val(res.Result.Meet_Deadline_Value)
				$('#ec_status').val(res.Result.Current_status)
			})
		}

		function Choose_emp_desig_edit(data){
			fetch(`/HrmTool/Performance/performance_appraisal_employee/${data}`)
			.then(res=>res.json())
			.then(res=>{
				$('#formE_experience').html(res.Result.Customer_Experience)
				$('#formE_mark').html(res.Result.Marketing)
				$('#formE_manage').html(res.Result.Management)
				$('#formE_admin').html(res.Result.Administration)
				$('#formE_skill').html(res.Result.Presentation_Skill)
				$('#formE_work').html(res.Result.Quality_Of_Work)
				$('#formE_efficy').html(res.Result.Efficiency)
				$('#formE_integ').html(res.Result.Integrity)
				$('#formE_profess').html(res.Result.Professionalism)
				$('#formE_team').html(res.Result.Team_Work)
				$('#formE_think').html(res.Result.Critical_Thinking)
				$('#formE_c_manage').html(res.Result.Conflict_Management)
				$('#formE_attend').html(res.Result.Attendance)
				$('#formE_deadline').html(res.Result.Meet_Deadline)
			})
		}

		function edit_appraisal(){
			let Edit_id =$('#edit_idz').val();
			let Employee =$('#eemp_id').val();
			let Date =$('#edate').val();
			let Experience =$('#eemp_exp').val();
			let Marketing =$('#eemp_mark').val();
			let Management =$('#eemp_manag').val();
			let Administ =$('#eemp_admin').val();
			let Skill =$('#eemp_skill').val();
			let Work =$('#eemp_work').val();
			let Efficiency =$('#eemp_efficy').val();
			let Integrity =$('#eemp_integ').val();
			let Profession =$('#eemp_profes').val();
			let Team =$('#eemp_team').val();
			let Thinking =$('#eemp_think').val();
			let C_Management =$('#eemp_c_mange').val();
			let Attendance =$('#eemp_attend').val();
			let Deadline =$('#eemp_dead').val();
			let Status =$('#ec_status').val();

			if(Employee==''||Employee==null){$('#eemp_id').css('border-color','#ff0000')}else{$('#eemp_id').css('border-color','#00ff00')}
			if(Date==''||Date==null){$('#edate').css('border-color','#ff0000')}else{$('#edate').css('border-color','#00ff00')}
			if(Experience==''||Experience==null){$('#eemp_exp').css('border-color','#ff0000')}else{$('#eemp_exp').css('border-color','#00ff00')}
			if(Marketing==''||Marketing==null){$('#eemp_mark').css('border-color','#ff0000')}else{$('#eemp_mark').css('border-color','#00ff00')}
			if(Management==''||Management==null){$('#eemp_manag').css('border-color','#ff0000')}else{$('#eemp_manag').css('border-color','#00ff00')}
			if(Administ==''||Administ==null){$('#eemp_admin').css('border-color','#ff0000')}else{$('#eemp_admin').css('border-color','#00ff00')}
			if(Skill==''||Skill==null){$('#eemp_skill').css('border-color','#ff0000')}else{$('#eemp_skill').css('border-color','#00ff00')}
			if(Work==''||Work==null){$('#eemp_work').css('border-color','#ff0000')}else{$('#eemp_work').css('border-color','#00ff00')}
			if(Efficiency==''||Efficiency==null){$('#eemp_efficy').css('border-color','#ff0000')}else{$('#eemp_efficy').css('border-color','#00ff00')}
			if(Integrity==''||Integrity==null){$('#eemp_integ').css('border-color','#ff0000')}else{$('#eemp_integ').css('border-color','#00ff00')}
			if(Profession==''||Profession==null){$('#eemp_profes').css('border-color','#ff0000')}else{$('#eemp_profes').css('border-color','#00ff00')}
			if(Team==''||Team==null){$('#eemp_team').css('border-color','#ff0000')}else{$('#eemp_team').css('border-color','#00ff00')}
			if(Thinking==''||Thinking==null){$('#eemp_think').css('border-color','#ff0000')}else{$('#eemp_think').css('border-color','#00ff00')}
			if(C_Management==''||C_Management==null){$('#eemp_c_mange').css('border-color','#ff0000')}else{$('#eemp_c_mange').css('border-color','#00ff00')}
			if(Attendance==''||Attendance==null){$('#eemp_attend').css('border-color','#ff0000')}else{$('#eemp_attend').css('border-color','#00ff00')}
			if(Deadline==''||Deadline==null){$('#eemp_dead').css('border-color','#ff0000')}else{$('#eemp_dead').css('border-color','#00ff00')}
			if(Status==''||Experience==null){$('#ec_status').css('border-color','#ff0000')}else{$('#ec_status').css('border-color','#00ff00')}

			if(Employee!==null && Date!==null && Experience!==null && Marketing!==null && Management!==null && Administ!==null && Skill!==null && Work!==null && Employee!==null && Efficiency!==null && Integrity!==null && Profession!==null && Team!==null && Thinking!==null && C_Management!==null && Attendance!==null && Deadline!==null && Status!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_id)
				formData.append('eemp_id',Employee)
				formData.append('edate',Date)
				formData.append('eemp_exp',Experience)
				formData.append('eemp_mark',Marketing)
				formData.append('eemp_manag',Management)
				formData.append('eemp_admin',Administ)
				formData.append('eemp_skill',Skill)
				formData.append('eemp_work',Work)
				formData.append('eemp_efficy',Efficiency)
				formData.append('eemp_integ',Integrity)
				formData.append('eemp_profes',Profession)
				formData.append('eemp_team',Team)
				formData.append('eemp_think',Thinking)
				formData.append('eemp_c_mange',C_Management)
				formData.append('eemp_attend',Attendance)
				formData.append('eemp_dead',Deadline)
				formData.append('ec_status',Status)

				fetch(`/HrmTool/Performance/performance_appraisal_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 325px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 345px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>

	<!-- Delete Performance Appraisal Modal -->
	<div class="modal custom-modal fade" id="delete_appraisal" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Performance Appraisal List</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<input id="del_id" name="del_id" type="hidden" />
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_del($('#del_id').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Performance Appraisal Modal -->

	<script>
		function taking_delete_appraisal(data){
			$('#del_id').val(data)
		}

		function conform_del(ids){
			fetch(`/HrmTool/Performance/performance_appraisal_delete/${ids}`)
			.then(location.reload())
		}
	</script>

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}