{% include "Layout/top.html" %}
{% include "Layout/side.html" %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Performance Indicator</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Performance</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_indicator"><i class="fa-solid fa-plus"></i> Add New</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Designation</th>
								<th>Department</th>
								<th>Added By</th>
								<th>Create At</th>
								<th>Status</th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in indicator_data %}
							<tr>
								<td>{{loop.index}}</td>
								{% for emp in employee_data %}
								{% if i.created_by|int == emp.id|int %}
								{% for desi in designation_data %}
								{% if emp.Designation_id|int == desi.id|int %}
								<td>{{desi.Name}}</td>
								{% endif %}
								{% endfor %}

								{% for dep in department_data %}
								{% if emp.Department_id|int == dep.id|int %}
								<td>{{dep.Name}}</td>
								{% endif %}
								{% endfor %}
								<td>
									<h2 class="table-avatar">
										<a  target="_blank" href="/templates/assets/uploaded_files/{{emp.Photo}}" class="avatar"><img src="/templates/assets/uploaded_files/{{emp.Photo}}" alt="User Image"></a>
										<a  href="/HrmTool/Employee/emplyee_profile/{{emp.id}}">{{emp.First_Name}} {{emp.Last_Name}} </a>
									</h2>
								</td>
								{% endif %}
								{% endfor %}
								<td >{{ i.created_at.strftime('%d %b %Y')}}</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.Current_status =='Active' %}
											<i class="fa-regular fa-circle-dot text-success"></i> Active
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> Inactive
											{% endif %}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Active')"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Inactive')"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_indicator" onclick="taking_Edit_data('{{i.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_indicator" onclick="taking_Delete_data('{{i.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/performance_indicator_status_update/${ids}/${info}`)
			.then(location.reload())
		}
	</script>

	<!-- Add Performance Indicator Modal -->
	<div id="add_indicator" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Set New Indicator</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Designation</label>
									<select class="form-select" id="desg" name="desg" required>
										<option selected disabled>-select</option>
										{% for i in designation_data %}
										<option value="{{i.id}}">{{i.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<h4 class="modal-sub-title">Technical</h4>
								<div class="input-block mb-3">
									<label class="col-form-label">Customer Experience</label>
									<select class="form-select" id="c_exp" name="c_exp" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Marketing</label>
									<select class="form-select" id="mark" name="mark" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Management</label>
									<select class="form-select" id="t_manage" name="t_manage" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Administration</label>
									<select class="form-select" id="admin" name="admin" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Presentation Skill</label>
									<select class="form-select" id="skill" name="skill" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Quality Of Work</label>
									<select class="form-select" id="work" name="work" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Efficiency</label>
									<select class="form-select" id="efficy" name="efficy" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<h4 class="modal-sub-title">Organizational</h4>
								<div class="input-block mb-3">
									<label class="col-form-label">Integrity</label>
									<select class="form-select" id="integ" name="integ" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Professionalism</label>
									<select class="form-select" id="profes" name="profes" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Team Work</label>
									<select class="form-select" id="team" name="team" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Critical Thinking</label>
									<select class="form-select" id="think" name="think" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Conflict Management</label>
									<select class="form-select" id="manage" name="manage" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Attendance</label>
									<select class="form-select" id="attend" name="attend" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Ability To Meet Deadline</label>
									<select class="form-select" id="deadline" name="deadline" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="c_status" name="c_status" required>
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_performance_indi()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Performance Indicator Modal -->

	<script>
		function add_performance_indi(){
			let Desig = $('#desg').val();
			let Experience = $('#c_exp').val();
			let Marketing = $('#mark').val();
			let Management = $('#t_manage').val();
			let Admin = $('#admin').val();
			let Skill = $('#skill').val();
			let Work = $('#work').val();
			let Efficiency = $('#efficy').val();
			let Integrity = $('#integ').val();
			let Profession = $('#profes').val();
			let Team = $('#team').val();
			let Thinking = $('#think').val();
			let Manage = $('#manage').val();
			let Attendance = $('#attend').val();
			let Deadline = $('#deadline').val();
			let Stat = $('#c_status').val();

			if(Desig===''||Desig===null){$('#desg').css('border-color','#ff0000')}else{$('#desg').css('border-color','#00ff00')}
			if(Experience===''||Experience===null){$('#c_exp').css('border-color','#ff0000')}else{$('#c_exp').css('border-color','#00ff00')}
			if(Marketing===''||Marketing===null){$('#mark').css('border-color','#ff0000')}else{$('#mark').css('border-color','#00ff00')}
			if(Management===''||Management===null){$('#t_manage').css('border-color','#ff0000')}else{$('#t_manage').css('border-color','#00ff00')}
			if(Admin===''||Admin===null){$('#admin').css('border-color','#ff0000')}else{$('#admin').css('border-color','#00ff00')}
			if(Skill===''||Skill===null){$('#skill').css('border-color','#ff0000')}else{$('#skill').css('border-color','#00ff00')}
			if(Work===''||Work===null){$('#work').css('border-color','#ff0000')}else{$('#work').css('border-color','#00ff00')}
			if(Efficiency===''||Efficiency===null){$('#efficy').css('border-color','#ff0000')}else{$('#efficy').css('border-color','#00ff00')}
			if(Integrity===''||Integrity===null){$('#integ').css('border-color','#ff0000')}else{$('#integ').css('border-color','#00ff00')}
			if(Profession===''||Profession===null){$('#profes').css('border-color','#ff0000')}else{$('#profes').css('border-color','#00ff00')}
			if(Team===''||Team===null){$('#team').css('border-color','#ff0000')}else{$('#team').css('border-color','#00ff00')}
			if(Thinking===''||Thinking===null){$('#think').css('border-color','#ff0000')}else{$('#think').css('border-color','#00ff00')}
			if(Manage===''||Manage===null){$('#manage').css('border-color','#ff0000')}else{$('#manage').css('border-color','#00ff00')}
			if(Attendance===''||Attendance===null){$('#attend').css('border-color','#ff0000')}else{$('#attend').css('border-color','#00ff00')}
			if(Deadline===''||Deadline===null){$('#deadline').css('border-color','#ff0000')}else{$('#deadline').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#c_status').css('border-color','#ff0000')}else{$('#c_status').css('border-color','#00ff00')}

			if(Desig!==null && Experience!==null && Marketing!==null && Management!==null && Admin!==null && Skill!==null && Work!==null && Efficiency!==null && Integrity!==null && Profession!==null && Team!==null && Thinking!==null && Manage!==null && Attendance!==null && Deadline!==null && Stat!==null){

				const formData = new FormData();
				formData.append('desg',Desig)
				formData.append('c_exp',Experience)
				formData.append('mark',Marketing)
				formData.append('t_manage',Management)
				formData.append('admin',Admin)
				formData.append('skill',Skill)
				formData.append('work',Work)
				formData.append('efficy',Efficiency)
				formData.append('integ',Integrity)
				formData.append('profes',Profession)
				formData.append('team',Team)
				formData.append('think',Thinking)
				formData.append('manage',Manage)
				formData.append('attend',Attendance)
				formData.append('deadline',Deadline)
				formData.append('c_status',Stat)

				fetch(`/HrmTool/Performance/performanc_indicator`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:331px">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:351px">Unable To Add</h5>`)
					}

				})
			}
		}
	</script>
	
	<!-- Edit Performance Indicator Modal -->
	<div id="edit_indicator" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Performance Indicator</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden"/>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Designation</label>
									<select class="form-select" id="e_desg" name="e_desg" required>
										<option selected disabled>-select</option>
										{% for i in designation_data %}
										<option value="{{i.id}}">{{i.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<h4 class="modal-sub-title">Technical</h4>
								<div class="input-block mb-3">
									<label class="col-form-label">Customer Experience</label>
									<select class="form-select" id="e_c_exp" name="e_c_exp" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Marketing</label>
									<select class="form-select" id="e_mark" name="e_mark" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Management</label>
									<select class="form-select" id="e_t_manage" name="e_t_manage" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Administration</label>
									<select class="form-select" id="e_admin" name="e_admin" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Presentation Skill</label>
									<select class="form-select" id="e_skill" name="e_skill" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Quality Of Work</label>
									<select class="form-select" id="e_work" name="e_work" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Efficiency</label>
									<select class="form-select" id="e_efficy" name="e_efficy" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<h4 class="modal-sub-title">Organizational</h4>
								<div class="input-block mb-3">
									<label class="col-form-label">Integrity</label>
									<select class="form-select" id="e_integ" name="e_integ" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Professionalism</label>
									<select class="form-select" id="e_profes" name="e_profes" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Team Work</label>
									<select class="form-select" id="e_team" name="e_team" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Critical Thinking</label>
									<select class="form-select" id="e_think" name="e_think" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Conflict Management</label>
									<select class="form-select" id="e_manage" name="e_manage" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Attendance</label>
									<select class="form-select" id="e_attend" name="e_attend" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
								<div class="input-block mb-3">
									<label class="col-form-label">Ability To Meet Deadline</label>
									<select class="form-select" id="e_deadline" name="e_deadline" required>
										<option value="Beginner">Beginner</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Advanced">Advanced</option>
										<option value="Expert">Expert</option>
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="e_c_status" name="e_c_status" required>
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_performance_indi()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Performance Indicator Modal -->

	<script>
		function taking_Edit_data(data){
			fetch(`/HrmTool/Performance/performance_indicator_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#e_desg').val(res.Result.Designation_id)
				$('#e_c_exp').val(res.Result.Customer_Experience)
				$('#e_mark').val(res.Result.Marketing)
				$('#e_t_manage').val(res.Result.Management)
				$('#e_admin').val(res.Result.Administration)
				$('#e_skill').val(res.Result.Presentation_Skill)
				$('#e_work').val(res.Result.Quality_Of_Work)
				$('#e_efficy').val(res.Result.Efficiency)
				$('#e_integ').val(res.Result.Integrity)
				$('#e_profes').val(res.Result.Professionalism)
				$('#e_team').val(res.Result.Team_Work)
				$('#e_think').val(res.Result.Critical_Thinking)
				$('#e_manage').val(res.Result.Conflict_Management)
				$('#e_attend').val(res.Result.Attendance)
				$('#e_deadline').val(res.Result.Meet_Deadline)
				$('#e_c_status').val(res.Result.Current_status)
			})
		}

		function edit_performance_indi(){
			let Edit_id = $('#edit_idz').val();
			let Desig = $('#e_desg').val();
			let Experience = $('#e_c_exp').val();
			let Marketing = $('#e_mark').val();
			let Management = $('#e_t_manage').val();
			let Admin = $('#e_admin').val();
			let Skill = $('#e_skill').val();
			let Work = $('#e_work').val();
			let Efficiency = $('#e_efficy').val();
			let Integrity = $('#e_integ').val();
			let Profession = $('#e_profes').val();
			let Team = $('#e_team').val();
			let Thinking = $('#e_think').val();
			let Manage = $('#e_manage').val();
			let Attendance = $('#e_attend').val();
			let Deadline = $('#e_deadline').val();
			let Stat = $('#e_c_status').val();

			if(Desig===''||Desig===null){$('#e_desg').css('border-color','#ff0000')}else{$('#e_desg').css('border-color','#00ff00')}
			if(Experience===''||Experience===null){$('#e_c_exp').css('border-color','#ff0000')}else{$('#e_c_exp').css('border-color','#00ff00')}
			if(Marketing===''||Marketing===null){$('#e_mark').css('border-color','#ff0000')}else{$('#e_mark').css('border-color','#00ff00')}
			if(Management===''||Management===null){$('#e_t_manage').css('border-color','#ff0000')}else{$('#e_t_manage').css('border-color','#00ff00')}
			if(Admin===''||Admin===null){$('#e_admin').css('border-color','#ff0000')}else{$('#e_admin').css('border-color','#00ff00')}
			if(Skill===''||Skill===null){$('#e_skill').css('border-color','#ff0000')}else{$('#e_skill').css('border-color','#00ff00')}
			if(Work===''||Work===null){$('#e_work').css('border-color','#ff0000')}else{$('#e_work').css('border-color','#00ff00')}
			if(Efficiency===''||Efficiency===null){$('#e_efficy').css('border-color','#ff0000')}else{$('#e_efficy').css('border-color','#00ff00')}
			if(Integrity===''||Integrity===null){$('#e_integ').css('border-color','#ff0000')}else{$('#e_integ').css('border-color','#00ff00')}
			if(Profession===''||Profession===null){$('#e_profes').css('border-color','#ff0000')}else{$('#e_profes').css('border-color','#00ff00')}
			if(Team===''||Team===null){$('#e_team').css('border-color','#ff0000')}else{$('#e_team').css('border-color','#00ff00')}
			if(Thinking===''||Thinking===null){$('#e_think').css('border-color','#ff0000')}else{$('#e_think').css('border-color','#00ff00')}
			if(Manage===''||Manage===null){$('#e_manage').css('border-color','#ff0000')}else{$('#e_manage').css('border-color','#00ff00')}
			if(Attendance===''||Attendance===null){$('#e_attend').css('border-color','#ff0000')}else{$('#e_attend').css('border-color','#00ff00')}
			if(Deadline===''||Deadline===null){$('#e_deadline').css('border-color','#ff0000')}else{$('#e_deadline').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#e_c_status').css('border-color','#ff0000')}else{$('#e_c_status').css('border-color','#00ff00')}

			if(Desig!==null && Experience!==null && Marketing!==null && Management!==null && Admin!==null && Skill!==null && Work!==null && Efficiency!==null && Integrity!==null && Profession!==null && Team!==null && Thinking!==null && Manage!==null && Attendance!==null && Deadline!==null && Stat!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_id)
				formData.append('e_desg',Desig)
				formData.append('e_c_exp',Experience)
				formData.append('e_mark',Marketing)
				formData.append('e_t_manage',Management)
				formData.append('e_admin',Admin)
				formData.append('e_skill',Skill)
				formData.append('e_work',Work)
				formData.append('e_efficy',Efficiency)
				formData.append('e_integ',Integrity)
				formData.append('e_profes',Profession)
				formData.append('e_team',Team)
				formData.append('e_think',Thinking)
				formData.append('e_manage',Manage)
				formData.append('e_attend',Attendance)
				formData.append('e_deadline',Deadline)
				formData.append('e_c_status',Stat)

				fetch(`/HrmTool/Performance/performanc_indicator_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:331px">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:351px">Unable To Add</h5>`)
					}

				})
			}
		}
	</script>
	
	<!-- Delete Performance Indicator Modal -->
	<div class="modal custom-modal fade" id="delete_indicator" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Performance Indicator List</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Performance Indicator Modal -->

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}