{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Promotion</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Promotion</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_promotion"><i
							class="fa-solid fa-plus"></i> Add Promotion</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">

					<!-- Promotion Table -->
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Promoted Employee </th>
								<th>Promotion Designation From </th>
								<th>Promotion Designation To </th>
								<th>Promotion Date </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% for employee in cid %}
								<td>{{loop.index}}</td>
								<td>
									<h2 class="table-avatar blue-link">
										{% for i in emp %}
										{% if i.id|int == employee.Promotion_For|int%}
										<a href="/HrmTool/Employee/emplyee_profile/{{i.id}}" class="avatar"><img
												src="/templates/assets/uploaded_files/{{i.Photo}}" alt="User Image"></a>
										<a href="/HrmTool/Employee/emplyee_profile/{{i.id}}">{{i.First_Name }} {{i.Last_Name}}</a>
										{% endif %}
										{% endfor %}
									</h2>
								</td>
								<td>{{employee.Promotion_From}}</td>
								{% for j in new_id %}
								{% if j.id|int == employee.Promotion_To|int %}
								<td>{{j.Name}}</td>
								{% endif %}
								{% endfor %}
								<td class="dateformate">{{employee.Promotion_Date}}</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_promotion"
												onclick="Guest_value('{{employee.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_promotion"
												onclick="deletingid('{{employee.id}}')"><i
													class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<!-- /Promotion Table -->

				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Promotion Modal -->
	<div id="add_promotion" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Promotion</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3 ">
							<label class="col-form-label">Promotion For <span class="text-danger">*</span></label>
							<select class="form-select" id="promotionfor" name="promotionfor"
								onclick="taking_employee_id($(this).val())" required>
								<option selected disabled>-Select</option>
								{% for Employee in emp %}
								<option value="{{ Employee.id}}">{{Employee.First_Name}} {{Employee.Last_Name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-block mb-3 show_search_class">
							<label class="col-form-label">Promotion From <span class="text-danger">*</span></label>
							<input type="text" class="form-control" placeholder="Choose Employee" id="promotionfrom"
								name="promotionfrom" readonly required>
						</div>

						<div class="input-block mb-3">
							<label class="col-form-label">Promotion To <span class="text-danger">*</span></label>
							<select class="form-select" id="promotionto" name="promotionto" required>
								<option selected disabled>-select</option>
								{% for i in new_id %}
								<option value="{{i.id}}">{{i.Name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Promotion Date <span class="text-danger">*</span></label>
							<input class="form-control datetimepicker" type="text" id="promotiondate"
								name="promotiondate" required>
						</div>

						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_promotion()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Promotion Modal -->
	<script>
		function taking_employee_id(data) {
			fetch(`/HrmTool/Performance/taking_pormotion_employee/${data}`, { method: 'put' })
				.then(res => res.json())
				.then(res => {
					$('#promotionfrom').val(res.Result.Name)
				})
		}

		function add_promotion() {
			let Employee = $('#promotionfor').val();
			let From = $('#promotionfrom').val();
			let To = $('#promotionto').val();
			let Date = $('#promotiondate').val();

			if (Employee === '' || Employee === null) { $('#promotionfor').css('border-color', '#ff6666') } else { $('#promotionfor').css('border-color', '#00ff00') }
			if (From === '' || From === null) { $('#promotionfrom').css('border-color', '#ff6666') } else { $('#promotionfrom').css('border-color', '#00ff00') }
			if (To === '' || To === null) { $('#promotionto').css('border-color', '#ff6666') } else { $('#promotionto').css('border-color', '#00ff00') }
			if (Date === '' || Date === null) { $('#promotiondate').css('border-color', '#ff6666') } else { $('#promotiondate').css('border-color', '#00ff00') }

			if (Employee !== null && From !== null && To !== null && Date !== null) {

				const formData = new FormData();
				formData.append('promotionfor', Employee)
				formData.append('promotionfrom', From)
				formData.append('promotionto', To)
				formData.append('promotiondate', Date)

				fetch(`/HrmTool/Performance/add_promotion`, { method: 'post', body: formData })
					.then(res => res.json())
					.then(res => {
						console.log(res)
						if (res.Result == 'Done') {
							location.reload()
						} else if (res.Result == 'Error') {
							$('.add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
						} else {
							$('.add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Unable To Add</h5>`)
						}
					})
			}

		}

	</script>
	<!-- Edit Promotion Modal -->
	<div id="edit_promotion" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Promotion</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/HrmTool/Performance/update_promotion" method="POST">
						<input id="edit_idz" name="edit_id" type="hidden">
						<div class="input-block mb-3">
							<label class="col-form-label">Promotion For <span class="text-danger">*</span></label>
							<input class="form-control" id="epromotionfor" name="epromotionfor" type="text"  readonly />
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Promotion From <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="epromotionfrom" name="epromotionfrom" required readonly>
						</div>

						<div class="input-block mb-3">
							<label class="col-form-label">Promotion To <span class="text-danger">*</span></label>
							<select class="form-select" id="epromotionto" name="epromotionto" required>
								<option selected disabled>-Select</option>
								{% for i in new_id %}
								<option value="{{i.id}}">{{i.Name}} </option>
								{% endfor %}
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Promotion Date <span class="text-danger">*</span></label>
							<input type="text" class="form-control datetimepicker" id="epromotiondate" name="epromotiondate" required>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		function Guest_value(data){
			fetch(`/HrmTool/Performance/get_pormotion_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#epromotionfor').val(res.employee_name.First_Name+' '+res.employee_name.Last_Name)
				$('#epromotionfrom').val(res.current_department.Name)
				$('#epromotionto').val(res.Result.Promotion_To)
				$('#epromotiondate').val(res.Result.Promotion_Date)
			})
		}

		function edit_promotion(){

		}
	</script>




	<!-- /Edit Promotion Modal -->

	<!-- Delete Promotion Modal -->
	<div class="modal custom-modal fade" id="delete_promotion" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Promotion</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input type="hidden" id="del_id" />
								<a href="javascript:void(0);" class="btn btn-primary continue-btn"
									onclick="conformdel($('#del_id').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script>
		function deletingid(id) {
			$('#del_id').val(id)
		}

		function conformdel(id) {
			$.get('/HrmTool/Performance/delete/' + id, function () {
				location.reload();
			})
		}
	</script>

	<!-- /Delete Promotion Modal -->

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}