{% include "Layout/top.html" %}
{% include "Layout/settings_sidebar.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Invoice Settings</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				<form action="/HrmTool/Administration/invoices_settings" method="post" enctype="multipart/form-data">
					{% if invocies_data %}
					<div class="input-block mb-3 row">
						<label class="col-lg-3 col-form-label">Invoice prefix</label>
						<div class="col-lg-9">
							<input type="text"  class="form-control" name="invoicePrefix" value="{{invocies_data.Invoice_prefix}}" required>
						</div>
					</div>
					{% else %}
					<div class="input-block mb-3 row">
						<label class="col-lg-3 col-form-label">Invoice prefix</label>
						<div class="col-lg-9">
							<input type="text"  class="form-control" name="invoicePrefix" required>
						</div>
					</div>
					{% endif %}
					<div class="input-block mb-3 row">
						<label class="col-lg-3 col-form-label">Invoice Logo</label>
						<div class="col-lg-7">
							<input type="file" class="form-control" name="invoiceFile" onchange="preview_img.src=window.URL.createObjectURL(this.files[0])"  >
							<span class="form-text text-muted">Recommended image size is 200px x 40px</span>
						</div>
						{% if invocies_data %}
						<div class="col-lg-2">
							<div class="img-thumbnail float-end"><img id="preview_img" src="/templates/assets/uploaded_files/{{invocies_data.Invoice_Logo}}"
									class="img-fluid" alt="Logo" width="60" height="60"></div>
						</div>
						{% else %}
						<div class="col-lg-2">
							<div class="img-thumbnail float-end"><img id="preview_img" src="/templates/assets/img/profile1.png"
									class="img-fluid" alt="Logo" width="60" height="60"></div>
						</div>
						{% endif %}
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}