{% include "Layout/top.html" %}
{% include "Layout/settings_sidebar.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
		<div class="row">
			<div class="col-md-8 offset-md-2">
			
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Company Settings</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				<form action="/HrmTool/Administration/company_settings" method="POST">
					{% if company %}
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Company Name <span class="text-danger">*</span></label>
								<input class="form-control" type="text" value="{{company.Company_Name}}" id="Company_Name" name="Company_Name" >
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Contact Person</label>
								<input class="form-control " value="{{company.Contact_Person}}" type="text" id="Contact_Person" name="Contact_Person">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-block mb-3">
								<label class="col-form-label">Address</label>
								<input class="form-control " value="{{company.Address}}" type="text" id="Address" name="Address">
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">Country</label>
								<select class="form-control select" id="Country" name="Country">
									<option value="{{company.Country}}" selected>{{company.Country}}</option>
									<option>USA</option>
									<option>UK</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">City</label>
								<input class="form-control" value="{{company.City}}" type="text" id="City" name="City">
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">State/Province</label>
								<select class="form-control select" id="State" name="State">
									<option selected>{{company.State}}</option>
									<option>California</option>
									<option>Alaska</option>
									<option>Alabama</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">Postal Code</label>
								<input class="form-control allow_numbers_only" maxlength="6" value="{{company.Postal_Code}}" type="number" id="Postal_Code" name="Postal_Code">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Email</label>
								<input class="form-control" value="{{company.Email}}" type="email" id="Email" name="Email">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Phone Number</label>
								<input class="form-control allow_numbers_only" maxlength="10" value="{{company.Phone_Number}}" type="text" id="Phone_Number" name="Phone_Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Mobile Number</label>
								<input class="form-control allow_numbers_only" maxlength="10" value="{{company.Mobile_Number}}" type="text " id="Mobile_Number" name="Mobile_Number">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Fax</label>
								<input class="form-control allow_numbers_only" maxlength="10" value="{{company.Fax}}" type="text" id="Fax" name="Fax">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-block mb-3">
								<label class="col-form-label">Website Url</label>
								<input class="form-control" value="{{company.Website_Url}}" type="text" id="Website_Url" name="Website_Url">
							</div>
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" type="submit">Save</button>
					</div>
					{% else %}
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Company Name <span class="text-danger">*</span></label>
								<input class="form-control" type="text"  id="Company_Name" name="Company_Name" placeholder="Enter Company Name" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Contact Person</label>
								<input class="form-control " placeholder="Enter Contact Person" type="text" id="Contact_Person" name="Contact_Person" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-block mb-3">
								<label class="col-form-label">Address</label>
								<input class="form-control " placeholder="Enter Address" type="text" id="Address" name="Address" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">Country</label>
								<select class="form-control select" id="Country" name="Country" required>
									<option>USA</option>
									<option>United Kingdom</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">City</label>
								<input class="form-control" placeholder="Enter City" type="text" id="City" name="City" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">State/Province</label>
								<select class="form-control select" id="State" name="State" required>
									<option>California</option>
									<option>Alaska</option>
									<option>Alabama</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="input-block mb-3">
								<label class="col-form-label">Postal Code</label>
								<input class="form-control" placeholder="Enter Postal Code" type="text" id="Postal_Code" name="Postal_Code" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Email</label>
								<input class="form-control" placeholder="Enter Email" type="email" id="Email" name="Email" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Phone Number</label>
								<input class="form-control allow_numbers_only" placeholder="Enter Phone Number" type="text" minlength="10" maxlength="10" id="Phone_Number" name="Phone_Number" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Mobile Number</label>
								<input class="form-control allow_numbers_only" placeholder="Enter Mobile Number" type="text" minlength="10" maxlength="10"  id="Mobile_Number" name="Mobile_Number" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Fax</label>
								<input class="form-control" placeholder="Enter Fax" type="text" id="Fax" name="Fax" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-block mb-3">
								<label class="col-form-label">Website Url</label>
								<input class="form-control" placeholder="Enter Website Url" type="text" id="Website_Url" name="Website_Url" required>
							</div>
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" type="submit">Save</button>
					</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}