{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Goal Type</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/HrmTool/Admin/dashboard">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Goal Type</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_type"><i
							class="fa-solid fa-plus"></i> Add New</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Type</th>
								<th>Description</th>
								<th>Status</th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for i in goal_type %}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{i.Name}}</td>
								<td>{{i.Description[:10:]}} ...</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.Current_status=='Active' %}
											<i class="fa-regular fa-circle-dot text-success"></i>{{i.Current_status}}
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i>{{i.Current_status}}
											{% endif %}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Active')"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{i.id}}','Inactive')"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_type" onclick="getting_id('{{i.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_type" onclick="get_id('{{i.id}}')"><i
													class="fa-regular fa-trash-can m-r-5"></i>
												Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/status_update_goal_type/${ids}/${info}`)
			.then(location.reload())
		}
	</script>

	<script>
		function getting_id(data) {
			console.log(data);
			$.get("/HrmTool/Performance/get_single_id/" + data, function (res) {
				console.log(res);
				$("#edit_idz").val(res.id);
				$("#edit_name").val(res.Name);
				$("#edit_description").val(res.Description);
				$("#edit_c_stat").val(res.Current_status);
			});
		}
	</script>

	<script>
		function get_id(data)
		{
			$("#delete_id").val(data);
		}
	</script>

	<!-- Add Goal Modal -->
	<div id="add_type" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Goal Type</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<label class="col-form-label">Goal Type <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="name" id="name" required/>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Description <span class="text-danger">*</span></label>
							<textarea class="form-control" placeholder="Enter 255 Characters" rows="4" name="description" id="description" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Status</label>
							<select class="form-select " id="c_status" name="c_status" required>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
							</select> 
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_goal_type()">
								Submit
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Goal Modal -->

	<script>
		function add_goal_type(){

			let Name = $('#name').val();
			let Desc = $('#description').val();
			let Stat = $('#c_status').val();

			if(Name===''||Name===null){$('#name').css('border-color','#ff6666')}else{$('#name').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#description').css('border-color','#ff6666')}else{$('#description').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#c_status').css('border-color','#ff6666')}else{$('#c_status').css('border-color','#00ff00')}

			if(Name!==null && Desc!==null && Stat!==null){

				const formData = new FormData();
				formData.append('name',Name)
				formData.append('description',Desc)
				formData.append('c_status',Stat)

				fetch(`/HrmTool/Performance/goal_type`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>

	<!-- Edit Goal Modal -->
	<div id="edit_type" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Goal Type</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_id" type="hidden" />
						<div class="input-block mb-3">
							<label class="col-form-label">Goal Type <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="edit_name" id="edit_name" required />
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Description <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="4" placeholder="Enter 255 Character's" name="edit_description" id="edit_description" required></textarea>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Status</label>
							<select class="form-select" id="edit_c_stat" name="edit_c_stat" required>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
							</select>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_goal_type()"> Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Goal Modal -->

	<script>
		function edit_goal_type(){

			let Edit_ID = $('#edit_idz').val();
			let Name = $('#edit_name').val();
			let Desc = $('#edit_description').val();
			let Stat = $('#edit_c_stat').val();

			if(Name===''||Name===null){$('#edit_name').css('border-color','#ff6666')}else{$('#edit_name').css('border-color','#00ff00')}
			if(Desc===''||Desc===null){$('#edit_description').css('border-color','#ff6666')}else{$('#edit_description').css('border-color','#00ff00')}
			if(Stat===''||Stat===null){$('#edit_c_stat').css('border-color','#ff6666')}else{$('#edit_c_stat').css('border-color','#00ff00')}

			if(Name!==null && Desc!==null && Stat!==null){

				const formData = new FormData();
				formData.append('edit_idz',Edit_ID)
				formData.append('edit_name',Name)
				formData.append('edit_description',Desc)
				formData.append('edit_c_stat',Stat)

				fetch(`/HrmTool/Performance/edit`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>

	<!-- Delete Goal Modal -->
	<div class="modal custom-modal fade" id="delete_type" role="dialog">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<form action="/HrmTool/Performance/delete_goaltype" method="post">
					<input id="delete_id" name="delete_id" type="hidden" />
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Goal Type</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<button href="javascript:void(0);" class="btn btn-primary continue-btn"
										type="submit" style="width: 200px">
										Delete
									</button>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-bs-dismiss="modal"
										class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Delete Goal Modal -->
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}