{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Goal Tracking</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Goal Tracking</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_goal"><i class="fa-solid fa-plus"></i> Add New</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table mb-0 datatable">
						<thead>
							<tr>
								<th class="width-thirty">#</th>
								<th>Goal Type</th>
								<th>Subject</th>
								<th>Target Achievement</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Description </th>
								<th>Status </th>
								<th>Progress </th>
								<th class="text-end">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for tra in  goal_track_data %}
							<tr>
								<td>{{loop.index}}</td>
								{% for ty in goal_type %}
								{% if tra.Goal_Type_id|int == ty.id|int %}
								<td>{{ty.Name}}</td>
								{% endif %}
								{% endfor %}
								<td>{{tra.Subject}}</td>
								<td>{{tra.Target_Achievement}}</td>
								<td class="dateformate">{{tra.Start_Date}}</td>
								<td class="dateformate">{{tra.End_Date}}</td>
								<td>{{tra.Description[:10:]}} ...</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if tra.Current_status=='Active' %}
											<i class="fa-regular fa-circle-dot text-success"></i> Active
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> Inactive
											{% endif %}
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#" onclick="change_status('{{tra.id}}','Active')"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
											<a class="dropdown-item" href="#" onclick="change_status('{{tra.id}}','Inactive')"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
										</div>
									</div>
								</td>
								<td><p class="mb-1">Completed {{tra.Percentage}}%</p><div class="progress height-5"><div class="progress-bar bg-primary progress-sm w-22 height-10"></div></div></td>
								<!-- <td><p class="mb-1">Completed 100%</p><div class="progress height-5"><div class="progress-bar bg-primary progress-sm w-{{tra.Percentage}} height-10"></div></div></td> -->
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_goal" onclick="edit_tracking_id('{{tra.id}}')"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_goal" onclick="delete_tracking_id('{{tra.id}}')"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<script>
		function change_status(ids,info){
			fetch(`/HrmTool/Performance/goal_status/${ids}/${info}`)
			.then(location.reload())
		}
	</script>

	<!-- Add Goal Modal -->
	<div id="add_goal" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Goal Tracking</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Goal Type</label>
									<select class="form-select" id="type" name="type" required>
										<option selected disabled>-Select</option>
										{% for type in goal_type %}
										<option value="{{type.id}}">{{type.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Subject</label>
									<input class="form-control" type="text" id="sub" name="sub" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Target Achievement</label>
									<input class="form-control" type="text" id="target" name="target" required>
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text" id="start" name="start" required></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text" id="end" name="end" required></div>
								</div>
							</div>
							
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" placeholder="Enter 255 Character's" rows="4" id="desc" name="desc" required></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="c_status" name="c_status" required>
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_tracking()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Goal Modal -->
	<script>
		function add_tracking(){
			let Type = $('#type').val();
			let Subject = $('#sub').val();
			let Target = $('#target').val();
			let Start = $('#start').val();
			let End = $('#end').val();
			let Description = $('#desc').val();
			let Status = $('#c_status').val();

			if(Type===''||Type===null){ $('#type').css('border-color','#ff3300')}else{$('#type').css('border-color','#00ff00')}
			if(Subject===''||Subject===null){ $('#sub').css('border-color','#ff3300')}else{$('#sub').css('border-color','#00ff00')}
			if(Target===''||Target===null){ $('#target').css('border-color','#ff3300')}else{$('#target').css('border-color','#00ff00')}
			if(Start===''||Start===null){ $('#start').css('border-color','#ff3300')}else{$('#start').css('border-color','#00ff00')}
			if(End===''||End===null){ $('#end').css('border-color','#ff3300')}else{$('#end').css('border-color','#00ff00')}
			if(Description===''||Description===null){ $('#desc').css('border-color','#ff3300')}else{$('#desc').css('border-color','#00ff00')}
			if(Status===''||Status===null){ $('#c_status').css('border-color','#ff3300')}else{$('#c_status').css('border-color','#00ff00')}

			if(Type!==null && Subject!==null && Target!==null && Start!==null && End!==null && Description!==null && Status!==null){

				const formData = new FormData()
				formData.append('type',Type)
				formData.append('sub',Subject)
				formData.append('target',Target)
				formData.append('start',Start)
				formData.append('end',End)
				formData.append('desc',Description)
				formData.append('c_status',Status)

				fetch(`/HrmTool/Performance/goal`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left:200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	
	<!-- Edit Goal Modal -->
	<div id="edit_goal" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Goal Tracking</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<input id="edit_idz" name="edit_idz" type="hidden" />
						<div class="row">
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Goal Type</label>
									<select class="form-select" id="etype" name="etype" required>
										<option selected disabled>-Select</option>
										{% for type in goal_type %}
										<option value="{{type.id}}">{{type.Name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Subject</label>
									<input class="form-control" type="text" id="esub" name="esub" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Target Achievement</label>
									<input class="form-control" type="text" id="etarget" name="etarget" required>
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Start Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text" id="estart" name="estart" required></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">End Date <span class="text-danger">*</span></label>
									<div class="cal-icon"><input class="form-control datetimepicker" type="text" id="eend" name="eend" required></div>
								</div>
							</div>
							<div class="col-sm-12 mb-3">
								<div class="input-block mb-3">
									<label for="customRange">Progress</label>
									<input type="range" class="form-control-range form-range" id="customRange">
									<div class="mt-2" id="result" >Progress Value: <b></b></div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description <span class="text-danger">*</span></label>
									<textarea class="form-control" placeholder="Enter 255 Character's" rows="4" id="edesc" name="edesc" required></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Status</label>
									<select class="form-select" id="ec_status" name="ec_status" required>
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_tracking()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Goal Modal -->
	<script>
		function edit_tracking_id(data){
			fetch(`/HrmTool/Performance/goal_track_id/${data}`)
			.then(res=>res.json())
			.then(res=>{
				console.log(res)
				$('#edit_idz').val(res.Result.id)
				$('#etype').val(res.Result.Goal_Type_id)
				$('#esub').val(res.Result.Subject)
				$('#etarget').val(res.Result.Target_Achievement)
				$('#estart').val(res.Result.Start_Date)
				$('#eend').val(res.Result.End_Date)
				$('#result b').html(`<b>${res.Result.Percentage}</b>`)
				// $("#result b").html($("#customRange").val(`${res.Result.Percentage}`));
				$('#edesc').val(res.Result.Description)
				$('#ec_status').val(res.Result.Current_status)
			})
		}

		function edit_tracking(){

			let Edit_id = $('#edit_idz').val();
			let Type = $('#etype').val();
			let Subject = $('#esub').val();
			let Target = $('#etarget').val();
			let Start = $('#estart').val();
			let End = $('#eend').val();
			let Description = $('#edesc').val();
			let Percent = $('#result')[0].children[0].innerText;
			let Status = $('#ec_status').val();

			if(Type===''||Type===null){ $('#etype').css('border-color','#ff3300')}else{$('#etype').css('border-color','#00ff00')}
			if(Subject===''||Subject===null){ $('#esub').css('border-color','#ff3300')}else{$('#esub').css('border-color','#00ff00')}
			if(Target===''||Target===null){ $('#etarget').css('border-color','#ff3300')}else{$('#etarget').css('border-color','#00ff00')}
			if(Start===''||Start===null){ $('#estart').css('border-color','#ff3300')}else{$('#estart').css('border-color','#00ff00')}
			if(End===''||End===null){ $('#eend').css('border-color','#ff3300')}else{$('#eend').css('border-color','#00ff00')}
			if(Description===''||Description===null){ $('#edesc').css('border-color','#ff3300')}else{$('#edesc').css('border-color','#00ff00')}
			if(Status===''||Status===null){ $('#ec_status').css('border-color','#ff3300')}else{$('#ec_status').css('border-color','#00ff00')}

			if(Type!==null && Subject!==null && Target!==null && Start!==null && End!==null &&Percent!==null && Description!==null && Status!==null){

				const formData = new FormData()
				formData.append('edit_idz',Edit_id)
				formData.append('etype',Type)
				formData.append('esub',Subject)
				formData.append('etarget',Target)
				formData.append('estart',Start)
				formData.append('eend',End)
				formData.append('percent',Percent)
				formData.append('edesc',Description)
				formData.append('ec_status',Status)

				fetch(`/HrmTool/Performance/goal_update`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:181px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left:200px;">Unable To Add</h5>`)
					}
				})
			}
			
			console.log() 
		}
	</script>
	
	<!-- Delete Goal Modal -->
	<div class="modal custom-modal fade" id="delete_goal" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Goal Tracking List</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<input id="del_id" name="del_id" type="hidden"/>
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="conform_del($('#del_id').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Goal Modal -->
	<script>
		function delete_tracking_id(data){
			$('#del_id').val(data)
		}
		function conform_del(ids){
			fetch(`/HrmTool/Performance/goal_track_delete/${ids}`)
			.then(location.reload())
		}
	</script>

</div>
<!-- /Page Wrapper -->

<script>
    $(document).ready(function(){
        // Read value on page load
        $("#result b").html($("#customRange").val());

        // Read value on change
        $("#customRange").change(function(){
            $("#result b").html($(this).val());
        });
    });        
</script>
   
{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}