{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Payroll Items</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Payroll Items</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Page Tab -->
		<div class="page-menu">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs nav-tabs-bottom">
						<li class="nav-item">
							<a class="nav-link active" data-bs-toggle="tab" href="#tab_additions">Additions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_overtime">Overtime</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_deductions">Deductions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Tab -->

		<!-- Tab Content -->
		<div class="tab-content">

			<!-- Additions Tab -->
			<div class="tab-pane show active" id="tab_additions">

				<!-- Add Addition Button -->
				<div class="text-end mb-4 clearfix">
					<button class="btn btn-primary add-btn" type="button" data-bs-toggle="modal"
						data-bs-target="#add_addition"><i class="fa-solid fa-plus"></i> Add Addition</button>
				</div>
				<!-- /Add Addition Button -->

				<!-- Payroll Additions Table -->
				<div class="payroll-table card" id="payroll_addition_table">
					<div class="table-responsive">
						<table class="table table-hover table-radius">
							<thead>
								<tr>
									<th>Name</th>
									<th>Category</th>
									<th>Default/Unit Amount</th>
									<th class="text-end">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for i in a %}
								<tr>

									<td>{{i.Name}}</td>
									<td>{{i.Category}}</td>
									<td>${{i.Unit_Amount}}</td>
									<td class="text-end">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
												aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#edit_addition"
													onclick="taking_this_id_addition('{{i.id}}')"><i
														class="fa-solid fa-pencil m-r-5"></i> Edit</a>
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#delete_addition"
													onclick="taking_dlt_addition('{{i.id}}')"><i
														class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- /Payroll Additions Table -->

			</div>
			<!-- Additions Tab -->

			

			<!-- Overtime Tab -->
			<div class="tab-pane" id="tab_overtime">

				<!-- Add Overtime Button -->
				<div class="text-end mb-4 clearfix">
					<button class="btn btn-primary add-btn" type="button" data-bs-toggle="modal"
						data-bs-target="#add_overtime"><i class="fa-solid fa-plus"></i> Add Overtime</button>
				</div>
				<!-- /Add Overtime Button -->

				<!-- Payroll Overtime Table -->
				<div class="payroll-table card" id="payroll_overtime_table">
					<div class="table-responsive">
						<table class="table table-hover table-radius">
							<thead>
								<tr>
									<th>Name</th>
									<th>Rate</th>
									<th class="text-end">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for p in b %}
								<tr>
									<th>{{p.Name}}</th>
									<th>{{p.Rate}}</th>
									<td class="text-end">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
												aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#edit_overtime"
													onclick="taking_this_id_overtime('{{p.id}}')"><i
														class="fa-solid fa-pencil m-r-5"></i> Edit</a>
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#delete_overtime"
													onclick="taking_dlt_overtime('{{p.id}}')"><i
														class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- /Payroll Overtime Table -->

			</div>
			<!-- /Overtime Tab -->


			


			<!-- Deductions Tab -->
			<div class="tab-pane" id="tab_deductions">

				<!-- Add Deductions Button -->
				<div class="text-end mb-4 clearfix">
					<button class="btn btn-primary add-btn" type="button" data-bs-toggle="modal"
						data-bs-target="#add_deduction"><i class="fa-solid fa-plus"></i> Add Deduction</button>
				</div>
				<!-- /Add Deductions Button -->

				<!-- Payroll Deduction Table -->
				<div class="payroll-table card" id="payroll_deduction_table">
					<div class="table-responsive">
						<table class="table table-hover table-radius">
							<thead>
								<tr>
									<th>Name</th>
									<th>Default/Unit Amount</th>
									<th class="text-end">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for k in c %}
								<tr>
									<th>{{k.Name}}</th>
									<td>${{k.Unit_Amount}}</td>
									<td class="text-end">
										<div class="dropdown dropdown-action">
											<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
												aria-expanded="false"><i class="material-icons">more_vert</i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#edit_deduction"
													onclick="taking_this_id_deduction('{{k.id}}')"><i
														class="fa-solid fa-pencil m-r-5"></i> Edit</a>
												<a class="dropdown-item" href="#" data-bs-toggle="modal"
													data-bs-target="#delete_deduction"
													onclick="taking_dlt_dedction('{{k.id}}')"><i
														class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- /Payroll Deduction Table -->

			</div>

			<!-- /Deductions Tab -->

		</div>
		<!-- Tab Content -->

	</div>
	<!-- /Page Content -->


	
<!-- **************************************************************  Addition ****************************************************************************-->
	<!-- Add Addition Modal -->
	<div id="add_addition" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Addition</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="add_error"></div>
				<div class="modal-body">
					<form action="" method="POST">
						<div class="input-block mb-3">
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" id="Name" name="Name" type="text" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Category <span class="text-danger">*</span></label>
							<select class="form-select" name="Category" id="Category" required>
								<option selected disabled>Select a category</option>
								<option>Monthly remuneration</option>
								<option>Additional remuneration</option>
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Unit calculation</label>
							<div class="status-toggle">
								<input type="checkbox" id="unit_calculation" name="unit_calculation" class="check" value="ON" >
								<label for="unit_calculation" class="checktoggle">checkbox</label>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Unit Amount</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<input type="text" id="unit_amount" name="unit_amount" class="form-control allow_numbers_only" required>
								<span class="input-group-text">.00</span>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Assignee</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="addition_assignee" id="addition_no_emp" value="No assignee">
								<label class="form-check-label" for="addition_no_emp"> No assignee </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="addition_assignee" id="addition_all_emp" value="All employees">
								<label class="form-check-label" for="addition_all_emp"> All employees </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="addition_assignee" id="addition_single_emp" value="Select Employee">
								<label class="form-check-label" for="addition_single_emp"> Select Employee </label>
							</div>
							<div class="input-block mb-3">
								<select class="form-select" name="emp_id" id="emp_id" required>
									<option selected disabled>-select</option>
									{% for i in employee_data %}
									<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_addition()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Addition Modal -->
	<script>
		function add_addition(){
			// Values category variables 
			let Name =$('#Name').val();
			let Category =$('#Category').val();
			let Amount =$('#unit_amount').val();
			let employees =$('#emp_id').val();
			//check box variables 
			let No_assignee = document.getElementById('addition_no_emp');
			let All_employees = document.getElementById('addition_all_emp');
			let Select_Employee = document.getElementById('addition_single_emp');
			let Unit = document.getElementById('unit_calculation');
			// Check if it's checked
			function Radio_value(){ if (No_assignee.checked){return No_assignee.value};if (All_employees.checked){return All_employees.value};if (Select_Employee.checked){return Select_Employee.value}}
			function Unit_calcu(){if (Unit.checked){return Unit.value}else{ return 'OFF'}}
			let final_Radio = Radio_value()
			let final_value = Unit_calcu()
			if(Name===''||Name===null){$('#Name').css('border-color','#ff3300')}else{$('#Name').css('border-color','#00ff00')}
			if(Category===''||Category===null){$('#Category').css('border-color','#ff3300')}else{$('#Category').css('border-color','#00ff00')}
			if(Amount===''||Amount===null){$('#unit_amount').css('border-color','#ff3300')}else{$('#unit_amount').css('border-color','#00ff00')}
			if(employees===''||employees===null){$('#emp_id').css('border-color','#ff3300')}else{$('#emp_id').css('border-color','#00ff00')}
			if(final_Radio===undefined||final_Radio===null)
			{
				$('#addition_no_emp').css('border-color','#ff3300')
				$('#addition_all_emp').css('border-color','#ff3300')
				$('#addition_single_emp').css('border-color','#ff3300')
			}else{
				$('#addition_no_emp').css('border-color','#00ff00')
				$('#addition_all_emp').css('border-color','#00ff00')
				$('#addition_single_emp').css('border-color','#00ff00')
			}
			if(Name!==null && Category!==null && Amount!==null && employees!==null && final_Radio!==undefined){

				const formData = new FormData();
				formData.append('Name',Name)
				formData.append('Category',Category)
				formData.append('unit_amount',Amount)
				formData.append('emp_id',employees)
				formData.append('assigne_to',final_Radio)
				formData.append('unit_calcu',final_value)

				fetch(`/HrmTool/PayrollItems/add_addition`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='ERror'){
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.add_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Edit Addition Modal -->
	<div id="edit_addition" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Addition</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="edit_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<input id="edit_addition_id" name="edit_id" type="hidden" />
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" id="edit_name" value="" name="edit_name" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Category <span class="text-danger">*</span></label>
							<select class="form-select" id="edit_category" name="edit_category" required>
								<option>Select a category</option>
								<option>Monthly remuneration</option>
								<option>Additional remuneration</option>
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Unit calculation</label>
							<div class="status-toggle">
								<input type="checkbox" id="edit_unit_calculation" name="edit_unit_calculation" class="check" value="ON">
								<label for="edit_unit_calculation" class="checktoggle">checkbox</label>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Unit Amount</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<input type="text" class="form-control allow_numbers_only" id="edit_unit_Amount" name="edit_unit_Amount" required>
								<span class="input-group-text">.00</span>
							</div>
						</div>
						<div class="input-block mb-3 display_radio_data">
							<label class="d-block col-form-label">Assignee</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_addition_assignee" id="edit_addition_no_emp" value="No assignee">
								<label class="form-check-label" for="edit_addition_no_emp"> No assignee </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_addition_assignee" id="edit_addition_all_emp" value="All employees">
								<label class="form-check-label" for="edit_addition_all_emp"> All employees </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_addition_assignee" id="edit_addition_single_emp" value="Select Employee" >
								<label class="form-check-label" for="edit_addition_single_emp"> Select Employee </label>
							</div>
							<div class="input-block mb-3">
								<select class="form-select" name="edit_Aemp_id" id="edit_Aemp_id" required>
									<option selected disabled>-select</option>
									{% for i in employee_data %}
									<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_addition()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		function taking_this_id_addition(data) {
			$.get('/HrmTool/PayrollItems/taking_edit_id_addition/' + data, function (res) {
				console.log(res)
				$('#edit_addition_id').val(res.Result.id)
				$('#edit_name').val(res.Result.Name)
				$('#edit_category').val(res.Result.Category)
				$('#edit_unit_Amount').val(res.Result.Unit_Amount)
				$('#edit_Aemp_id').val(res.Result.Employee_id)
				//assigne
				if(res.Result.Assignee_radio=='No assignee'){ $('#edit_addition_no_emp').attr('checked','checked')}
				if(res.Result.Assignee_radio=='All employees'){ $('#edit_addition_all_emp').attr('checked','checked')}
				if(res.Result.Assignee_radio=='Select Employee'){ $('#edit_addition_single_emp').attr('checked','checked')}
				//unit calculation
				if(res.Result.Unit_calculation=='ON'){$('#edit_unit_calculation').attr('checked','checked')}

			})
		}

		function edit_addition(){
			let Edit_id = $('#edit_addition_id').val()
			let Name =$('#edit_name').val();
			let Category =$('#edit_category').val();
			let Amount =$('#edit_unit_Amount').val();
			let employees =$('#edit_Aemp_id').val();
			//check box variables 
			let No_assignee = document.getElementById('edit_addition_no_emp');
			let All_employees = document.getElementById('edit_addition_all_emp');
			let Select_Employee = document.getElementById('edit_addition_single_emp');
			let Unit = document.getElementById('edit_unit_calculation');

			function Radio_value(){ if (No_assignee.checked){return No_assignee.value};if (All_employees.checked){return All_employees.value};if (Select_Employee.checked){return Select_Employee.value}}
			function Unit_calcu(){if (Unit.checked){return Unit.value}else{ return 'OFF'}}
			let final_Radio = Radio_value()
			let final_value = Unit_calcu()
			if(Name===''||Name===null){$('#edit_name').css('border-color','#ff3300')}else{$('#edit_name').css('border-color','#00ff00')}
			if(Category===''||Category===null){$('#edit_category').css('border-color','#ff3300')}else{$('#edit_category').css('border-color','#00ff00')}
			if(Amount===''||Amount===null){$('#edit_unit_Amount').css('border-color','#ff3300')}else{$('#edit_unit_Amount').css('border-color','#00ff00')}
			if(employees===''||employees===null){$('#edit_Aemp_id').css('border-color','#ff3300')}else{$('#edit_Aemp_id').css('border-color','#00ff00')}
			if(final_Radio===undefined||final_Radio===null)
			{
				$('#edit_addition_no_emp').css('border-color','#ff3300')
				$('#edit_addition_all_emp').css('border-color','#ff3300')
				$('#edit_addition_single_emp').css('border-color','#ff3300')
			}else{
				$('#edit_addition_no_emp').css('border-color','#00ff00')
				$('#edit_addition_all_emp').css('border-color','#00ff00')
				$('#edit_addition_single_emp').css('border-color','#00ff00')
			}
			if(Name!==null && Category!==null && Amount!==null && employees!==null && final_Radio!==undefined){

				const formData = new FormData();
				formData.append('edit_addition_id',Edit_id)
				formData.append('edit_name',Name)
				formData.append('edit_category',Category)
				formData.append('edit_unit_Amount',Amount)
				formData.append('edit_Aemp_id',employees)
				formData.append('edit_assigne_to',final_Radio)
				formData.append('edit_unit_calcu',final_value)

				fetch(`/HrmTool/PayrollItems/edit_addition`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					console.log(res)
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='ERror'){
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.edit_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}

			
		}
	</script>
	<!-- /Edit Addition Modal -->
	<!-- Delete Addition Modal -->
	<div class="modal custom-modal fade" id="delete_addition" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Addition</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_pop" id="delete_pop" type="hidden">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary continue-btn"
									onclick="conform_delete_addition($('#delete_pop').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function taking_dlt_addition(data) {
			$('#delete_pop').val(data)
		}
		function conform_delete_addition(data) {
			$.get('/HrmTool/PayrollItems/taking_dlt_id_addition/' + data, function () {
				location.reload()
			})
		}
	</script>
	<!-- /Delete Addition Modal -->
<!-- **************************************************************  /Addition ****************************************************************************-->

<!-- **************************************************************  Overtime ****************************************************************************-->
	<!-- Add Overtime Modal -->
	<div id="add_overtime" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Overtime</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="over_add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="overtime_name" id="overtime_name" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Rate Type <span class="text-danger">*</span></label>
							<select class="form-select" name="overtime_rate_type" id="overtime_rate_type" required>
								<option selected disabled>-select</option>
								<option>Daily Rate</option>
								<option>Hourly Rate</option>
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Rate <span class="text-danger">*</span></label>
							<input class="form-control allow_numbers_only" type="text" name="overtime_rate" id="overtime_rate" required>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_overtime()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Overtime Modal -->
	<script>
		function add_overtime(){
			let Name = $('#overtime_name').val();
			let Type = $('#overtime_rate_type').val();
			let Rate = $('#overtime_rate').val();

			if(Name===''||Name===null){$('#overtime_name').css('border-color','#ff3300')}else{$('#overtime_name').css('border-color','#00ff00')}
			if(Type===''||Type===null){$('#overtime_rate_type').css('border-color','#ff3300')}else{$('#overtime_rate_type').css('border-color','#00ff00')}
			if(Rate===''||Rate===null){$('#overtime_rate').css('border-color','#ff3300')}else{$('#overtime_rate').css('border-color','#00ff00')}

			if(Name!==null && Type!==null && Rate!==null){

				const formData = new FormData()
				formData.append('overtime_name',Name)
				formData.append('overtime_rate_type',Type)
				formData.append('overtime_rate',Rate)

				fetch(`/HrmTool/PayrollItems/add_overtime`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.over_add_error').html(`<h5 class="text-danger" style="padding-left:181px">Already Data Entered</h5>`)
					}else{
						$('.over_add_error').html(`<h5 class="text-danger" style="padding-left:200px">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Edit Overtime Modal -->
	<div id="edit_overtime" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Overtime</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/edit_overtime" method="POST">
						<div class="input-block mb-3">
							<input id="edit_id_ovr" name="edit_id_ovr" type="hidden" />
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" name="edit_ovr_name" id="edit_ovr_name" type="text" required>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Rate Type <span class="text-danger">*</span></label>
							<select class="form-select" name="edit_ovr_rate_id" id="edit_ovr_rate_id" required>
								<option>-</option>
								<option>Daily Rate</option>
								<option>Hourly Rate</option>
							</select>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Rate <span class="text-danger">*</span></label>
							<input class="form-control allow_numbers_only" type="text" name="edit_ovr_rate" id="edit_ovr_rate" required>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_overtime()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Overtime Modal -->
	<script>
		function taking_this_id_overtime(data) {
			$.get('/HrmTool/PayrollItems/taking_edit_id_overtime/' + data, function (res) {
				$('#edit_id_ovr').val(res.Result.id)
				$('#edit_ovr_name').val(res.Result.Name)
				$('#edit_ovr_rate_id').val(res.Result.Rate_type_id)
				$('#edit_ovr_rate').val(res.Result.Rate)
			})
		}

		function edit_overtime(){
			let Edit_id = $('#edit_id_ovr').val();
			let Name = $('#edit_ovr_name').val();
			let Type = $('#edit_ovr_rate_id').val();
			let Rate = $('#edit_ovr_rate').val();

			if(Name===''||Name===null){$('#edit_ovr_name').css('border-color','#ff3300')}else{$('#edit_ovr_name').css('border-color','#00ff00')}
			if(Type===''||Type===null){$('#edit_ovr_rate_id').css('border-color','#ff3300')}else{$('#edit_ovr_rate_id').css('border-color','#00ff00')}
			if(Rate===''||Rate===null){$('#edit_ovr_rate').css('border-color','#ff3300')}else{$('#edit_ovr_rate').css('border-color','#00ff00')}

			if(Name!==null && Type!==null && Rate!==null){

				const formData = new FormData()
				formData.append('edit_id_ovr',Edit_id)
				formData.append('edit_ovr_name',Name)
				formData.append('edit_ovr_rate_id',Type)
				formData.append('edit_ovr_rate',Rate)

				fetch(`/HrmTool/PayrollItems/edit_overtime`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='Error'){
						$('.over_add_error').html(`<h5 class="text-danger" style="padding-left:181px">Already Data Entered</h5>`)
					}else{
						$('.over_add_error').html(`<h5 class="text-danger" style="padding-left:200px">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Delete Overtime Modal -->
	<div class="modal custom-modal fade" id="delete_overtime" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Overtime</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_pop_ovr" id="delete_pop_ovr" type="hidden">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary continue-btn"
									onclick="conform_delete_overtime($('#delete_pop_ovr').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Overtime Modal -->
	<script>
		function taking_dlt_overtime(data) {
			$('#delete_pop_ovr').val(data)
		}
		function conform_delete_overtime(data) {
			$.get('/HrmTool/PayrollItems/taking_dlt_id_overtime/' + data, function (res) {
				location.reload()
			})
		}
	</script>
<!-- **************************************************************  /Overtime ****************************************************************************-->

<!-- **************************************************************  Deduction ****************************************************************************-->
	<!-- Add Deduction Modal -->
	<div id="add_deduction" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Deduction</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="ded_add_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" name="ded_name" id="ded_name" required>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Unit calculation</label>
							<div class="status-toggle">
								<input type="checkbox" id="unit_calculation_deduction" name="unit_calculation_deduction" class="check" value="ON">
								<label for="unit_calculation_deduction" class="checktoggle">checkbox</label>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Unit Amount</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<input type="text" class="form-control allow_numbers_only" id="unit_amount_deduction" name="unit_amount_deduction" required>
								<span class="input-group-text">.00</span>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Assignee</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="deduction_assignee" id="deduction_no_emp" value="No assignee" checked>
								<label class="form-check-label" for="deduction_no_emp"> No assignee </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="deduction_assignee" id="deduction_all_emp" value="All employees">
								<label class="form-check-label" for="deduction_all_emp"> All employees </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="deduction_assignee" id="deduction_single_emp" value="Select Employee">
								<label class="form-check-label" for="deduction_single_emp"> Select Employee </label>
							</div>
							<div class="input-block mb-3">
								<select class="form-select" name="ded_emp_id" id="ded_emp_id" required>
									<option selected disabled>-select</option>
									{% for i in employee_data %}
									<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="add_deduction()">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Deduction Modal -->
	<script>
		function add_deduction(){
			// Values category variables 
			let Name =$('#ded_name').val();
			let Amount =$('#unit_amount_deduction').val();
			let employees =$('#ded_emp_id').val();
			//check box variables 
			let No_assignee = document.getElementById('deduction_no_emp');
			let All_employees = document.getElementById('deduction_all_emp');
			let Select_Employee = document.getElementById('deduction_single_emp');
			let Unit = document.getElementById('unit_calculation_deduction');
			// Check if it's checked
			function Radio_value(){ if (No_assignee.checked){return No_assignee.value};if (All_employees.checked){return All_employees.value};if (Select_Employee.checked){return Select_Employee.value}}
			function Unit_calcu(){if (Unit.checked){return Unit.value}else{ return 'OFF'}}
			let final_Radio = Radio_value()
			let final_value = Unit_calcu()

			if(Name===''||Name===null){$('#ded_name').css('border-color','#ff3300')}else{$('#ded_name').css('border-color','#00ff00')}
			if(Amount===''||Amount===null){$('#unit_amount_deduction').css('border-color','#ff3300')}else{$('#unit_amount_deduction').css('border-color','#00ff00')}
			if(employees===''||employees===null){$('#ded_emp_id').css('border-color','#ff3300')}else{$('#ded_emp_id').css('border-color','#00ff00')}
			if(final_Radio===undefined||final_Radio===null)
			{
				$('#deduction_no_emp').css('border-color','#ff3300')
				$('#deduction_all_emp').css('border-color','#ff3300')
				$('#deduction_single_emp').css('border-color','#ff3300')
			}else{
				$('#deduction_no_emp').css('border-color','#00ff00')
				$('#deduction_all_emp').css('border-color','#00ff00')
				$('#deduction_single_emp').css('border-color','#00ff00')
			}
			if(Name!==null && Category!==null && Amount!==null && employees!==null && final_Radio!==undefined){

				const formData = new FormData();
				formData.append('ded_name',Name)
				formData.append('unit_amount_deduction',Amount)
				formData.append('ded_emp_id',employees)
				formData.append('assigne_to',final_Radio)
				formData.append('unit_calcu',final_value)

				fetch(`/HrmTool/PayrollItems/add_deduction`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='ERror'){
						$('.ded_add_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.ded_add_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Edit Deduction Modal -->
	<div id="edit_deduction" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Deduction</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="ded_edit_error"></div>
				<div class="modal-body">
					<form>
						<div class="input-block mb-3">
							<input id="edit_id_deduction" name="edit_id_deduction" type="hidden" />
							<label class="col-form-label">Name <span class="text-danger">*</span></label>
							<input class="form-control" name="edit_deduction_name" id="edit_deduction_name" type="text">
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Unit calculation</label>
							<div class="status-toggle">
								<input type="checkbox" name="edit_unit_calculation_deduction" id="edit_unit_calculation_deduction" class="check" value="ON">
								<label for="edit_unit_calculation_deduction" class="checktoggle">checkbox</label>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="col-form-label">Unit Amount</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<input type="text" class="form-control" name="edit_deduction_unit_Amount"
									id="edit_deduction_unit_Amount">
								<span class="input-group-text">.00</span>
							</div>
						</div>
						<div class="input-block mb-3">
							<label class="d-block col-form-label">Assignee</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_deduction_assignee" id="edit_deduction_no_emp" value="No assignee" checked>
								<label class="form-check-label" for="edit_deduction_no_emp"> No assignee </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_deduction_assignee" id="edit_deduction_all_emp" value="All employees">
								<label class="form-check-label" for="edit_deduction_all_emp"> All employees </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="edit_deduction_assignee" id="edit_deduction_single_emp" value="Select Employee">
								<label class="form-check-label" for="edit_deduction_single_emp"> Select Employee </label>
							</div>
							<div class="input-block mb-3">
								<select class="form-select" name="edit_deduction_dropdwn" id="edit_deduction_dropdwn" required>
									<option selected disabled>-select</option>
									{% for i in employee_data %}
									<option value="{{i.id}}">{{i.First_Name}} {{i.Last_Name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="submit-section">
							<a class="btn btn-primary submit-btn" onclick="edit_deducation()">Save</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Addition Modal -->
	<script>
		function taking_this_id_deduction(data) {
			$.get('/HrmTool/PayrollItems/taking_edit_id_deduction/' + data, function (res) {
				console.log(res)
				$('#edit_id_deduction').val(res.Result.id)
				$('#edit_deduction_name').val(res.Result.Name)
				$('#edit_deduction_unit_Amount').val(res.Result.Unit_Amount)
				$('#edit_deduction_dropdwn').val(res.Result.Assignee_drop)
				//
				if(res.Result.Assignee_radio=='No assignee'){ $('#edit_deduction_no_emp').attr('checked','checked')}
				if(res.Result.Assignee_radio=='All employees'){ $('#edit_deduction_all_emp').attr('checked','checked')}
				if(res.Result.Assignee_radio=='Select Employee'){ $('#edit_deduction_single_emp').attr('checked','checked')}
				//unit calculation
				if(res.Result.Unit_calculation=='ON'){$('#edit_unit_calculation_deduction').attr('checked','checked')}
			})
		}

		function edit_deducation(){
			let Edit_id = $('#edit_id_deduction').val()
			let Name =$('#edit_deduction_name').val();
			let Amount =$('#edit_deduction_unit_Amount').val();
			let employees =$('#edit_deduction_dropdwn').val();
			//check box variables 
			let No_assignee = document.getElementById('edit_deduction_no_emp');
			let All_employees = document.getElementById('edit_deduction_all_emp');
			let Select_Employee = document.getElementById('edit_deduction_single_emp');
			let Unit = document.getElementById('edit_unit_calculation_deduction');

			function Radio_value(){ if (No_assignee.checked){return No_assignee.value};if (All_employees.checked){return All_employees.value};if (Select_Employee.checked){return Select_Employee.value}}
			function Unit_calcu(){if (Unit.checked){return Unit.value}else{ return 'OFF'}}
			let final_Radio = Radio_value()
			let final_value = Unit_calcu()
			if(Name===''||Name===null){$('#edit_deduction_name').css('border-color','#ff3300')}else{$('#edit_deduction_name').css('border-color','#00ff00')}
			if(Amount===''||Amount===null){$('#edit_deduction_unit_Amount').css('border-color','#ff3300')}else{$('#edit_deduction_unit_Amount').css('border-color','#00ff00')}
			if(employees===''||employees===null){$('#edit_deduction_dropdwn').css('border-color','#ff3300')}else{$('#edit_deduction_dropdwn').css('border-color','#00ff00')}
			if(final_Radio===undefined||final_Radio===null)
			{
				$('#edit_deduction_no_emp').css('border-color','#ff3300')
				$('#edit_deduction_all_emp').css('border-color','#ff3300')
				$('#edit_deduction_single_emp').css('border-color','#ff3300')
			}else{
				$('#edit_deduction_no_emp').css('border-color','#00ff00')
				$('#edit_deduction_all_emp').css('border-color','#00ff00')
				$('#edit_deduction_single_emp').css('border-color','#00ff00')
			}
			if(Name!==null && Category!==null && Amount!==null && employees!==null && final_Radio!==undefined){

				const formData = new FormData();
				formData.append('edit_id_deduction',Edit_id)
				formData.append('edit_deduction_name',Name)
				formData.append('edit_deduction_unit_Amount',Amount)
				formData.append('edit_deduction_dropdwn',employees)
				formData.append('edit_assigne_to',final_Radio)
				formData.append('edit_unit_calcu',final_value)

				fetch(`/HrmTool/PayrollItems/edit_deduction`,{method:'post',body:formData})
				.then(res=>res.json())
				.then(res=>{
					if(res.Result=='Done'){
						location.reload()
					}else if(res.Result=='ERror'){
						$('.ded_edit_error').html(`<h5 class="text-danger" style="padding-left: 181px;">Already Data Entered</h5>`)
					}else{
						$('.ded_edit_error').html(`<h5 class="text-danger" style="padding-left: 200px;">Unable To Add</h5>`)
					}
				})
			}
		}
	</script>
	<!-- Delete Deduction Modal -->
	<div class="modal custom-modal fade" id="delete_deduction" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Deduction</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_pop_deduction" id="delete_pop_deduction" type="hidden">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary continue-btn"
									onclick="conform_delete_deduction($('#delete_pop_deduction').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Deduction Modal -->
	<script>
		function taking_dlt_dedction(data) {
			$('#delete_pop_deduction').val(data)
		}
		function conform_delete_deduction(data) {
			$.get('/HrmTool/PayrollItems/taking_dlt_id_deduction/' + data, function (res) {
				location.reload()
			})
		}
	</script>
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}