{% include "Layout/top.html" %}
{% include "Layout/side.html" %}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Provident Fund</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/HrmTool/Admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Provident Fund</li>
					</ul>
				</div>
				<div class="col-auto float-end ms-auto">
					<a href="pfund_add" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_pf" onclick="take_value()"><i
							class="fa-solid fa-plus" ></i> Add Provident Fund</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable mb-0">
						<thead>
							<tr>
								<th>Employee N ame</th>
								<th>Provident Fund Type</th>
								<th>Employee Share</th>
								<th>Organization Share</th>
								<th>Status</th>
								<th class="text-end">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for i in provident_data %}
							<tr>
								{% for j in employee_data %}
								{% if i.Employee_id|int == j.id|int %}
								<td>
									<h2 class="table-avatar">
										<a href="profile.html" class="avatar"><img src="/templates/assets/uploaded_files/{{j.Photo}}" alt="User Image"></a>
										<a href="profile.html">{{j.First_Name}}{{j.Last_Name}} 
											{% for k in department_data %}
											{% if j.Department_id|int == k.id|int %}
											<span>{{k.Name}}</span></a>
											{% endif %}
											{% endfor %}
									</h2>
								</td>
								{% endif %}
								{% endfor %}
								<td>{{i.Fund_Type_id}}
								<td>{{i.Employee_Share}}%</td>
								<td>{{i.Organization_Share}}%</td>
								<td>
									<div class="dropdown action-label status_display">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
											{% if i.current_status == " Approved"%}
											<i class="fa-regular fa-circle-dot text-success"></i> {{i.current_status }}
											{% else %}
											<i class="fa-regular fa-circle-dot text-danger"></i> {{i.current_status }}
											{% endif %}
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item current_status" value="{{i.id}}" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Pending</a>
											<a class="dropdown-item current_status" value="{{i.id}}" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Approved</a>
										</div>
									</div>
								</td>
								<td class="text-end">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
											aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#edit_pf" onClick="editing_id('{{i.id}}')"><i
													class="fa-solid fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="#" data-bs-toggle="modal"
												data-bs-target="#delete_pf" onClick="delete_action('{{i.id}}')"><i
													class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add PF Modal -->
	<div id="add_pf" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Provident Fund</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="pfund_add" method="POST">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Employee Name</label>
									<select class="form-select" id="empn" name="empn" required >
										<option value="">Select</option>
										{% for i in  employee_data %}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}} ( {{i.Employee_ID}} )</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Provident Fund Type</label>
									<select class="form-select" id="funtype" name="funtype" required>
										<option value="Fixed Amount" selected="">Fixed Amount</option>
										<option value="Percentage of Basic Salary">Percentage of Basic Salary</option>
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="show-fixed-amount">
									<div class="row">
										<div class="col-sm-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Employee Share (Amount)</label>
												<input class="form-control" type="text" id="emshare" name="emshare" required>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Organization Share (Amount)</label>
												<input class="form-control" type="text" id="orgshare" name="orgshare" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="show-basic-salary">
									<div class="row">
										<div class="col-sm-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Employee Share (%)</label>
												{% if fund_data != 'change settings' %}
												<input class="form-control" type="text" id="emper" name="emper" value="{{fund_data.Employee_Share }}" required readonly>
												{% else %}
												<input class="form-control" type="text" id="emper" name="emper" placeholder="Share is Unavailable Now!" required  readonly>
												{% endif %}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Organization Share (%)</label>
												{% if fund_data  != 'change settings' %}
												<input class="form-control" type="text" id="ogper" name="ogper" value="{{fund_data.Organization_Share}}" required readonly>
												{% else %}
												<input class="form-control" type="text" id="ogper" name="ogper" placeholder="Share is Unavailable Now!" required readonly>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" rows="4" id="des" name="des"></textarea>
								</div>
							</div>
						</div>
						<div class="submit-section addsubmit">
							<button class="btn btn-primary submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add PF Modal -->

	<!-- Edit PF Modal -->
	<div id="edit_pf" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Provident Fund</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="efund_update" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="input-block mb-3">
									<input id="edit_idz" name="edit_id" type="hidden" />
									<label class="col-form-label">Employee Name</label>
									<select class="form-select" id="edit_empn" name="edit_empn" required>
										{% for i in  employee_data %}
										<option value="{{i.id}}">{{i.First_Name}}{{i.Last_Name}} ( {{i.Employee_ID}} )</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-block mb-3">
									<label class="col-form-label">Provident Fund Type</label>
									<select class="form-select" id="edit_funtype" name="edit_funtype" required>
										<option value="Fixed Amount" selected="">Fixed Amount</option>
										<option value="Percentage of Basic Salary">Percentage of Basic Salary</option>
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="show-fixed-amount">
									<div class="row">
										<div class="col-md-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Employee Share (Amount)</label>
												<input class="form-control" type="text" id="edit_emshare"
													name="edit_emshare" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Organization Share (Amount)</label>
												<input class="form-control" type="text" id="edit_orgshare"
													name="edit_orgshare" required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="show-basic-salary">
									<div class="row">
										<div class="col-md-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Employee Share (%)</label>
												<input class="form-control" type="text" id="edit_emper"
													name="edit_emper" readonly required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-block mb-3">
												<label class="col-form-label">Organization Share (%)</label>
												<input class="form-control" type="text" id="edit_ogper"
													name="edit_ogper" readonly required>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="input-block mb-3">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" rows="4" id="edit_des" name="edit_des"></textarea>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		function editing_id(data) {
			console.log(data)
			$.get('/HrmTool/HR/taking_provident_id/' + data, function (res) {
				console.log(res)
				$('#edit_idz').val(res.id)
				$('#edit_empn').val(res.Employee_id)
				$('#edit_funtype').val(res.Fund_Type_id)
				$('#edit_emshare').val(res.Employee_Share)
				$('#edit_orgshare').val(res.Organization_Share)
				$('#edit_emper').val(res.Employee_percentage)
				$('#edit_ogper').val(res.Organization_percentage)
				$('#edit_des').val(res.Description)
			})
		}

		function delete_action(data) {
			$('#delete_data').val(data)
		}

		function conform_delete(data) {
			$.get('/HrmTool/HR/delete_provident/' + data, function (res) {
				location.reload()
			})
		}
	</script>
	<!-- /Edit PF Modal -->

	<!-- Delete PF Modal -->
	<div class="modal custom-modal fade" id="delete_pf" role="dialog">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Provident Fund</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<input name="delete_data" id="delete_data" type="hidden">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn"
									onclick="conform_delete($('#delete_data').val())">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-bs-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete PF Modal -->
	<script>
		function take_value(){
			let emp_share = $("#emper").val();
			console.log(emp_share);
			if (emp_share == ''){
				$(".addsubmit").html('')
			}else{
				$(".addsubmit").html('<button class="btn btn-primary submit-btn">Submit</button>')
			}
		}

	</script>
</div>
<!-- /Page Wrapper -->

{% include "Layout/side_style.html" %}
{% include "Layout/bottom.html" %}